<ion-view view-title="账号关联" cache-view="false" hide-nav-bar="true">
    <ion-content scrollbar-y="false">
      <div style="text-align:center;margin:50px 0 29px 0;">
          <img src="{{imgBaseURL}}img/icon-ok.png" style="width:100px;height:100px;"/>
      </div>
      <div style="text-align:center;font-size:20px;">关联成功</div>
      <div style="background-color: #fff;margin:70px 0;text-align:center;">
        <div style="font-size:18px;margin-bottom:13px;">尊敬的<span style="color:#2979FF;">{{nickname}}</span></div>
        <div style="color:#576B95;font-size:15px;">您已与（{{user}}）完成关联</div>
      </div>
      <div ng-click="loginSG()" style="background: #FBFAFC;border: 1px solid rgba(0,0,0,0.15);border-radius: 4px;height: 44px;text-align: center;font-size: 18px;color: #666666;vertical-align: middle;margin: 22px 7% 0;line-height: 44px;">解除关联</div>
    </ion-content>
    <div style="font-size:12px;color:#8F8F8F;width:100%;margin:0 auto;text-align:center;position:fixed;bottom:23px;">解除绑定后您将不能进行账号状态的实时提醒<span style="display:block;">若能需要可进行再次绑定！</span></div>

  </ion-view>
  