.coupons-padding-2 {
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.coupons-border-left-none {
  border-left: 0px;
}

.coupons-text-center {
  text-align: center;
  height: 30px;
  line-height: 70px;
}

.text-line {
  text-decoration: line-through;
}

.dian_i {
  display: inline-block;
  font-size: 20px;
  color: #555;
  width: 8%
}
.bg-jfpink{
  background-color: #FF99FF;
}