/*颜色*/
.color-yellow {
  color: #ffc900 !important;
}

/*字体*/
.i-20 {
  font-size: 20px;
}

/*行高*/
.line-h-34 {
  line-height: 34px;
}

.line-h-40 {
  line-height: 40px;
}

/*宽高*/
.width-75 {
  width: 75px;
}

.width-90 {
  width: 90%;
}

.height-30 {
  height: 30px;
}

.height-40 {
  height: 40px;
}

.height-80 {
  height: 80px;
}

/*边界*/

/*边距*/
.margin-l-30 {
  margin-left: 30%;
}

/*位置*/
.l-30 {
  left: 30%;
}

.l-40 {
  left: 40%;
}

.cm {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.horizontal-center {
  margin: 0 auto;
}

/*内容*/
.overflow-hidden {
  overflow: hidden;
}

/*原创小组合*/
.quanzis {
  width: 33%;
  min-width: 60px;
  padding-top: 5px;
  float: left;
}

.littleHooks {
  position: absolute;
  width: 15%;
  top: 0;
  left: 68%;
}

.dot-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dot-block {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 2 !important;
}

.story-r-title {
  width: 50px;
  height: 30px;
  line-height: 15px;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
}

.head {
  height: 60px;
  width: 60px;
  border: 1px solid silver;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  .image {
    height: 60px;
    width: 60px;
    margin: -1px;
  }
}

.wst .topic-area {
  width: 85%;
  margin: 20px auto 0 auto;
}

.select-all-st {
  bottom: 20px;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 180px;
  line-height: 30px;
  height: 30px;
  border: 1px solid #0076fd;
  border-radius: 4px;
  font-size: 15px;
  color: #0076fd;
  text-align: center;
}

.wst .follow-all {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 180px;
  line-height: 30px;
  height: 30px;
  border: 1px solid #0076fd;
  border-radius: 4px;
  font-size: 15px;
  color: #0076fd;
  text-align: center;
}

.wst .slider {
  height: 100%;
}

.wst .slider-pager {
  position: absolute;
  bottom: 90px;
  width: 100%;
  height: 6px;
  line-height: 6px;
  text-align: center;
  z-index: 1;
}

.wst .slider-pager .slider-pager-page {
  display: inline-block;
  margin: 0 2px;
  width: 5px;
  text-decoration: none;
  color: #387ef5;
  opacity: 1;
  font-size: 6px;
  i {
    background-color: #0076fd !important;
  }
}

.wst .slider-pager .slider-pager-page.active {
  width: 30px;
  height: 6px;
  border-radius: 25px;
  color: #387ef5;
  i {
    width: 30px !important;
    background-color: #0076fd !important;
  }
}

.select-gray {
  filter: grayscale(60%);
  -webkit-filter: grayscale(60%)
}

.my-black-layer {
  background-color: #000;
  filter: alpha(opacity=40); /*IE滤镜，透明度50%*/
  -moz-opacity: 0.4; /*Firefox私有，透明度50%*/
  opacity: 0.4; /*其他，透明度50%*/
  width: 60px;
  height: 60px;
  margin: -1px;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top: 0;
  left: 0;
  text-align: center;
  span {
    line-height: 60px;
    color: #fff;
    font-size: 33px;
  }
}

.select-gray {
  filter: grayscale(60%);
  -webkit-filter: grayscale(60%)
}

.my-transparent-layer {
  background-color: transparent;
  width: 60px;
  height: 60px;
  margin: -1px;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top: 0;
  left: 0;
  text-align: center;
  span {
    line-height: 60px;
    color: #fff;
    font-size: 33px;
  }
}

.btn1 {
  margin: 5px 0;
  width: 5em;
  border-radius: 2.5em;
}

.btn2 {
  width: 40%;
  margin: 10px 0;
}

.news {
  background-color: #f8f8f8;
  border: solid 1px #444;
}

.news img {
  float: left;
}

.news p {
  float: right;
}

.select-button-myself {
  border-bottom: 2px solid #2577e3;
  color: #2577e3;
}

.select-tab {
  background-color: #7ebaff;
  color: #fff !important;
}

.tag-nums {
  color: gray;
  font-size: 80%;
  margin-left: 2px;
}

.wight-tag-nums {
  color: #fff;
}

.no-select-tab {
  background-color: #fff;
  color: #7ebaff;
}

.mask-custom {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.4);
}

/*右上角消息按钮*/
.news-button {
  position: relative;
  text-align: center;
  margin: auto -3px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  .rotate-upright {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
  }
  .share-img {
  }
  img {
    width: 34px;
    height: 34px;
    padding: 7px;

  }
  i {
    line-height: 25px;
    font-size: 20px;
    color: #2577e3;
  }
  .redPoint {
    position: absolute;
    top: 15%;
    right: 5%;
    height: 15%;
    width: 15%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #ef473a;
  }
}

.triangle {
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
  position: absolute;
  bottom: 159px;
  right: 6px;
}

/*消息弹窗*/
.pop-news {
  position: absolute;
  top: 54px;
  right: 4px;
  height: 148px;
  width: 120px;
  /*border: 1px solid #fff;*/
  border-radius: 5px;
  padding: 0 5px;
  font-size: 15px;
  background-color: #000;
  color: #fff;
  z-index: 11;
  .top-arrow {
    position: absolute;
    top: -6px;
    right: 9px;
    width: 12px;
    height: 12px;
    /*border: {
      top: 1px solid #ddd;
      right: 1px solid #ddd;
    }*/
    background-color: #000;
    transform: rotate(45deg) skew(10deg, 10deg);
    -webkit-transform: rotate(45deg) skew(10deg, 10deg);
  }

  .pop-news-item {
    overflow: hidden;
    height: 37px;
    line-height: 36px;
    border-bottom: 1px solid #585656;
    &:last-child {
      border-bottom: none;
    }
  }
  .pop-news-icon {
    width: 15px;
    margin-left: 7px;
    i {
      font-size: 20px;
    }
    img {
      position: relative;
      top: 3px;
      right: 1px;
      width: 18px;
      height: 18px;
    }
  }
  .pop-news-text {
    margin-left: 12px;
  }
  .pop-news-amount {
    text-align: center;
    transform: scale(0.8, 0.8);
    span {
      background-color: #ef473a !important;
      color: #fff !important;
      padding: 0 5px;
      border-radius: 10px;
    }
  }
}

.blank-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

/*伪元素*/
/*样式统统拿出来！！*/
.info-area {
  text-align: center;
  color: #fff;
  padding: 10px 0 0 0;
  background: url('http://cdn09.ehaier.com/shunguang/H5/www/img/background.png') no-repeat;
  background-size: cover;
  i {
    position: absolute;
    right: 10px;
    font-size: 20px;
  }
  .imgs {
    min-height: 70px;
    .head-img {
      height: 60px;
      width: 60px;
      border: 2px solid #fff;
      border-radius: 6px;
      margin-bottom: -12px;
    }
    .status {
      background-color: orange;
      border-radius: 24px;
      font-size: 80%;
      color: #fff;
      padding: 1px 12px;
    }
    .status-img {
      width: 40px;
      height: 20px;
      position: absolute;
      left: 50%;
      margin-left: -20px;
      top: 58px;
    }
  }
  .user-name {
    font-weight: bold;
    font-size: 17px;
    /*position: relative;
    top: 10px;*/
  }
}
/*add by@zyr 2017.10.09--start*/
  /*头部 信息部分*/
.head-area {
  position: relative;
  height: 280px;
  .head-bg {
    height: 280px;
    width: 100%;
    /*-webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);*/
    .bg-img {
      img {
        height: 280px;
        width: 100%;
      }
    }
    .bg-mark {
      position: absolute;
      top: 0;
      left: 0;
      height: 280px;
      width: 100%;
      background: rgba(0, 0, 0, .3);
    }
  }
  .head-info {
    position: absolute;
    top:0;
    left: 0;
    height: 280px;
    width: 100%;
    .head-title {
      height: 44px;
      width: 100%;
      color: #fff;
      .go-back {
        width: 24px;
        height: 24px;
        margin-left: 16px;
      }
      .title {
        font-size: 17px;
      }
      .head-share {
        margin-right: 4px;
      }
    }
    .head-content {
      color: #fff;
      .head-userimg {
        margin: 7px 0 5px 0;
        img {
          width: 76px;
          height: 76px;
          border-radius: 100%;
          border:2px solid rgba(255,255,255,.5);
        }
      }
      .head-name {
        text-align:center;
        margin-bottom:5px;
      }
      .head-grade {
        margin: 0 auto;
        border:1px solid #fff;
        border-radius: 2px;
        width: 58px;
        height: 16px;
        font-size: 10px;
        line-height: 13px;
        .icon-v-img {
          background: #fff;
          .vip-icon-img {
            img {
              width: 10px;
            }
          }
          .vip-icon-text {
            color: #2979FF;

          }
        }
        .icon-v-text {
          text-align: center;
        }
      }
      .follow-fans {
        margin: 15px 0;
        font-size: 13px;
        div {
          padding:0 20px;
          &.head-foll {
            border-right: 1px solid #fff;
          }
          &.head-fans {
            border-right: 1px solid transparent;
          }
        }
      }
      .follow-box {
        margin: 0 auto;
        width: 100px;
        height: 25px;
        border-radius: 12.5px;
        border: 1px solid #fff;
        font-size: 13px;
      }
    }
  }
}
  /*TA的发布,评论,原创tabs按钮*/
.homepage-tabs {
  width: 100%;
  height: 88px;
  position: relative;
  background: rgb(238, 238, 238);
  .tabs-btns {
    position: absolute;
    top: -20px;
    left: 5%;
    height: 93px;
    width: 90%;
    background: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20);
    border-radius: 5px;
    padding: 0 10px;
    .tabs-img {
      margin-bottom:5px;
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
  &.mine-homepage-tabs {
    height: 44px;
    .tabs-btns {
      top: -65px;
    }
  }
  
}
  /*TA 的打赏,圈子,赞,收藏*/
.other-lists {
  background: #fff;
  .item-list {
    height: 45px;
    padding: 0 15px 0 18px;
    border-bottom:1px solid #e8e8e8;
    &:last-child {
      border: none;
    }
    .item-box {
      height: 100%;
      width: 100%;
      .item-img {
        margin-right: 15px;
        img {
          width: 17px;
        }
      }
      .item-go {
        img {
          width: 15px;
        }
      }
    }
  }
}
/*add by@zyr 2017.10.09--end*/
.tight-star-container1 {
  display: inline-block;
  height: 15px;
  img {
    float: left;
    height: 15px;
    margin-right: 5px;
  }
}

.tight-star-container {
  display: inline-block;
  height: 12px;
  img {
    float: left;
    height: 12px;
    margin-right: 5px;
  }
  span {
    float: left;
    line-height: 15px;
    margin-left: 10px;
  }
}

.view-topic-arrow {
  height: 20px;
  font-size: 20px !important;
  font-weight: bold;
  width: auto !important;
  bottom: 0;
  margin: auto 0;
}

.double-button {
  width: 290px;
  height: 30px;
  /*border:1px solid #387ef5;*/
  border-radius: 40px;
  margin: 10px auto;
  overflow: hidden;
  /*color:#387ef5;*/
  background-color: #fff;
  .each-button {
    line-height: 20px;
    border-right: 1px solid #f4f4f4;
  }
  :last-child {
    border-right: none;
  }
}

.story-list {
  background-color: #fff;
  margin: {
    bottom: 15px;
  }
  padding: 10px;
  .story-item-top {
    height: 40px;
    line-height: 20px;
    overflow: hidden;
  }
  .story-item-bottom {
    position: relative;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    font-size: 12px;
  }
  .item-member-left {
    display: inline-block;
    width: 4em;
  }
  .item-member-right {
    position: absolute;
    right: 0;
    height: 40px;
    .topic-head {
      height: 25px;
      width: 25px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto 0;
      border-radius: 50%;
    }
    .topic-name {
      display: inline-block;
      width: 8em;
      height: 40px;
      margin-left: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.fans-follow {
  line-height: 22px;
  .fans {
    margin-left: 1%;
  }
  .following {
    display: inline-block;
    margin-left: 6%;
    width: 5em;
    border: 1px solid #fff;
    border-radius: 2.5em;
  }
}

.follow-button {
  position: absolute;
  text-align: center;
  font-size: 14px;
  width: 4em;
  border-radius: 4px;
  min-height: 20px;
  line-height: 24px;
  height: 25px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 16px;
}

.no-follow {
  border: 1px solid gray;
  color: gray;
}

.follow {
  border: 1px solid #387ef5;

  color: #387ef5;
}

.setting-head {
  line-height: 40px;
  padding-right: 88px;
  border-top: none;
  img {
    top: 8px;
    max-height: 56px;
    max-width: 56px;
  }
}

.setting-value {
  margin-left: 5%;
}

.apply-btn {
  border-radius: 4px;
  background-color: #387ef5;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: white;
}

.done {
  line-height: 34px;
  color: #387ef5;
  padding-right: 10px;
}

.story-st {
  margin-bottom: 5px;
  background-color: #fff;
  .story-head .user-head {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    border-radius: 4px;
  }
  .story-head .user-name {
    color: #555;
    font-size: 12px;
  }
  .story-head {
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    .create-time {
      float: right;
      font-size: 10px;
      color: #999;
    }
  }
  .short-story {
    clear: both;
    padding: 0 10px 12px 10px;
    border-bottom: 1px solid #f4f4f4;
    .short-cont {
      font-size: 16px;
      color: #333;
      font-weight: bold;
    }
  }
  .story-foot {
    padding: 5px 0;
    //height: 30px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    color: #999;
    * {
      padding: 0;
    }
  }
}

.story-content {
  clear: both;
  position: relative;
  padding: 0 10px 12px 10px;
  border-bottom: 1px solid #f4f4f4;
  max-height: 100px;
  .font {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: justify;
    height: 73px;
    .cont {
      margin-top: 6px;
      font-size: 14px;
      color: #666;
      line-height: 21px;
    }
  }
}

.reload1, .reload1 * {
  max-height: 44px !important;
  overflow: hidden !important;
  text-indent: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 14px !important;
  line-height: 22px !important;
  font-weight: 400 !important;
}

.gray-follow {
  border: 1px solid #ccc !important;
  color: #ccc;
}

.info-tab {
  padding: 5px 15px 10px 15px;
  .col {
    padding: 0;
  }
  .dis-line {
    border-right: 1px solid #f8f8f8;
  }
  .dis-line:last-child {
    border: none;
  }
}

.info-tab .followHim-btn {
  height: 24px;
  line-height: 23px;
  border: 1px solid #fff;
  border-radius: 4px;
  margin: -2px auto;
  width: 80px;
}

.reload1 img {
  vertical-align: text-top !important;
  max-height: 44px !important;
  /* position:absolute !important;
   left:0 !important;
   top:0 !important;*/
}

.reload1 img#alttext-img {
  vertical-align: text-top !important;
}

.reload1 li {
  max-height: 44px !important;
  list-style: none !important;
}

.story-title {
  font-size: 18px;
  line-height: 23px;
  color: #333;
  font-weight: bold;
  height: 45px;
  //margin-bottom: 5px;
}

.main-img {
  margin-left: 5px;
  float: right;
  height: 90px;
  width: 125px;
  max-width: 200px;
}

.shortImg {
  float: left;
  margin-top: 5px;
  margin-right: 1px;
  /*height: 73px !important;*/
  width: 33%;
}

.story-nums {
  height: 17px;
  width: 17px;
  position: relative;
  top: 4px;
}

.my-li-item {
  font-size: inherit !important;
  margin-bottom: 5px;
  border: none;
  padding: 0;
  .story-st, .topic-st {
    margin-bottom: 0;
  }
}

.person-item {
  font-size: 14px;
  min-height: 82px;
  padding-left: 80px;
  border: none;
  margin-bottom: 5px;
  padding-right: calc(4em + 16px);
  .head {
    min-width: 50px;
    min-height: 50px;
    left: 15px;
    border-radius: 4px !important;
  }
  .name {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .sign {
    line-height: 22px;
  }
}

.big-btn-padding {
  padding-right: 20px !important;
}

@mixin v-m($block-width:40px,$block-height:40px) {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: $block-width;
  height: $block-height;

}

.download-sg {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 72px;
  padding: 4% 33% 4% 19%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  .close {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 0 0 0 75%;
    background-color: rgba(0, 0, 0, 1);
    img {
      float: right;
      height: 18px;
    }
  }
  .logo {
    @include v-m;
    left: 4%;
    border-radius: 8px;
  }
  .advertise {
    @include v-m(auto, 40px);
    line-height: 20px;
    font-size: 80%;
  }
  .download-btn {
    @include v-m(23%, 22px);
    right: 4%;
    line-height: 20px;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-size: 80%;
  }
}

.his-l-shop {
  height: 40px;
  line-height: 40px;
  padding: 0 2%;
  position: relative;
  background-color: #fff;
  margin-bottom: 5px;
  overflow: hidden;
  .shop-logo {
    width: 20px;
    position: relative;
    top: 5px;
  }
  .shop-name {
    display: inline-block;
    max-width: 40%;
    vertical-align: middle;
  }
  .shop-rank {
    background-color: #fe1353;
    color: #fff;
    font-size: 0.8em;
    border-radius: 4px;
    padding: 1px 3px 0 4px;
    margin-right: 1%;
  }
  .shop-recognize {
    border: 1px solid #ffa03b;
    border-radius: 4px;
    color: #ffa03b;
    font-size: 0.8em;
    padding: 1px 4px 0 4px;
    img {
      height: 1em;
    }
  }
  .share-shop {
    float: right;
    height: 40px;
    padding: 10px 0;
  }
}

.topic-st {
  font-size: 14px;
  min-height: 82px;
  padding-left: 80px;
  line-height: 48px;
  border: none;
  margin-bottom: 5px;
  padding-right: calc(4em + 16px);
  .topic-head {
    min-width: 50px;
    min-height: 50px;
  }
  .topic-title {
    line-height: 20px;
    font-size: 15px;
    font-weight: bold;
    color: #333333;
  }
  .topic-des {
    font-size: 12px;
    line-height: 20px;
    color: #777777;
  }
  .topic-nums {
    font-size: 10px;
    color: #a6a6a6;
    line-height: 25px;
  }
}

.good-st {
  padding: 12px;
  .good-img {
    float: left;
    width: 80px;
    height: 65px;
    border-radius: 0;
    margin-right: 10px;
  }
  .good-name {
    font-size: 15px;
    color: #666;
    font-weight: bold;
  }
  .good-type {
    color: #aaa;
    font-size: 10px;
  }
  .good-buy {
    font-size: 10px;
    line-height: 25px;
    .good-price {
      color: #fc1153;
    }
    .good-cart {
      padding: 2px 10px 3px 0;
      height: 25px;
      float: right;
      transform: rotateY(180deg);
    }
  }
}

.users-head-bar {
  background-color: #e852ef;
  .content {
    height: 2em;
    line-height: 2em;
    margin: 5px 0 1px 5px;
    padding: 0 16px 0 11px;
    background-color: #f8f8f8;
    .title {
      color: #999;
    }
    .more {
      color: #2577e3;
      float: right;
    }
  }
}

.users-head-bar2 {
  background-color: #0076fd;
  .content {
    height: 2em;
    line-height: 2em;
    margin: 5px 0 1px 5px;
    padding: 0 16px 0 11px;
    background-color: #f8f8f8;
    color: #999;
  }
}

.in-review {
  position: absolute;
  text-align: center;
  font-size: 12px;
  border-radius: 4px;
  min-height: 20px;
  line-height: 24px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 16px;
  height: 30px;
  font-weight: bold;
  width: auto !important;
}
.grade-start-diamond {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 18px;
  background: #1C6C9F;
  border: 1px solid #0F69A6;
  border-radius: 8px;
  margin-right: 6px;
  padding: 0 6px;
}
