.pavilionWall {
	height: 120px;
}
& > .scrollX-box {
  &::-webkit-scrollbar {
        display: none !important;
    }
}
.secondaryVenueClassification {
	height: 64px;
  margin-top: 0;
	& > .scrollX-box {
		line-height: 64px;
		
		& > div {
			//width: 2rem;
			text-align:center;
			line-height: 32px;
			//width: 80px;
      width: auto;
      padding: 0 26px;
			background-color:white;
			border-radius:4px;
			margin-top:16px;
		}
	}
}

.hotSpecialtyScroll {
  & > .scrollX-box {
    margin-top: 0;
    &::-webkit-scrollbar {
      display: none !important;
    }
  }
}
.curator_recommended_scroll {
  & > .fav_pic {
    margin-top: 0;
  }
}
.bar-subheader {
  .selected-item {
    border-bottom: #2979FF 2px solid;
    color:#2979FF;
  }
  .unselected-item {
    border-bottom: white 0px solid;
    color:#000;
  }
}
