<!--我的页面->账户信息->修改密码-->
<ion-view class="background" view-title="修改密码" cache-view="false">
  <ion-nav-bar>
    <ion-nav-back-button class="color-text-l"
                         ng-click="goBack()">
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-buttons side="secondary">
    <button class="button-clear color-text-theme padding padding-right-15" ng-click="doChange()">保存</button>
  </ion-nav-buttons>
  <ion-content scrollbar-y="false">
    <div class="margin-bottom-20">
    </div>
    <div class="padding padding-top-5 padding-bottom-5 padding-left-15 border-bottom bg-white">
      <form>
        <input class="width-100 input-style" type="password" ng-model="password.oldWord" placeholder="输入原始密码" value={{oldWord}}>
      </form>
    </div>
    <div class="padding padding-top-5 padding-bottom-5 padding-left-15 border-bottom bg-white">
      <form>
        <input class="width-100 input-style" type="password" ng-model="password.newWord" placeholder="输入新密码" value={{newWord}}>
      </form>
    </div>
    <div class="padding padding-top-5 padding-bottom-5 padding-left-15 bg-white">
      <form>
        <input class="width-100 input-style" type="password" ng-model="password.makeSureWord" placeholder="确认新密码" value={{makeSureWord}}>
      </form>
    </div>
    <div style="padding: 0 16px;margin:10px 0 0 0;color: #333;">提示：密码为数字、字母、特殊符号中的两种组合，长度6位~20位(字母区分大小写)</div>
  </ion-content>
  <div class="text-align-c width-100" style="left: 20%;bottom: 60px; position: fixed;" ng-hide="updateResult">
    <div class="padding text-align-c width-60 dark-bg color-white update-style-inner" ng-bind="updateContent">
    </div>
  </div>
</ion-view>
