<div class="homeNav" ng-class="{true:'iosAppFixedTopCopy',false:'normalFixedTopCopy'}[isIosApp]">
        <ion-scroll class="newHomeScroll" direction="x" scrollbar-x="false" zooming="false" style="overflow: hidden;position: relative;">
          <div flex="" class="furnish_xScroll">
            <div flex-box="0" ng-click="chooseType(0,$event)" style="color:#2979FF;" class="timeSale_list_item">
              成套家电
            </div>
            <div flex-box="0" ng-click="chooseType(1,$event)" class="timeSale_list_item">
              居家定制
            </div>
            <div flex-box="0" ng-click="chooseType(2,$event)" class="timeSale_list_item">
              众创定制
            </div>
            <div flex-box="0" ng-click="chooseType(3,$event)" class="timeSale_list_item">
              新品众筹
            </div>
            <div flex-box="0" ng-click="chooseType(4,$event)" class="timeSale_list_item">
              百货超市
            </div>
            <div flex-box="0" ng-click="chooseType(5,$event)" class="timeSale_list_item">
              生活服务
            </div>
            <div flex-box="0" ng-click="chooseType(6,$event)" class="timeSale_list_item">
              体验店
            </div>
            <div flex-box="0" ng-click="chooseType(-1,$event)" class="timeSale_list_item">
      
            </div>
            <div class="runningBox"></div>
          </div>
      
        </ion-scroll>
      </div>
