<ion-view view-title="" hide-nav-bar="true">
  <!--头部标题-->
  <header class="secLevStore_header" flex="main:justify cross:center" ng-style="iosAppHeight">
    <!--返回按钮-->
    <div class="backBtn" ng-click="goBack()">
      <i class="icon ion-ios-arrow-left"></i>
    </div>
    <!--标题文字-->
    <div class="title">{{secTitle}}</div>
    <div class="lookMore" flex="main:center cross:center" ng-click="showMoreInfo()">
      <img ng-src="{{imgBaseURL}}img/{{lookMoreImg}}" alt="" class="lookMoreIcon">
      <!--点击查看更多-->
      <div class="lookMoreDetail" ng-if="isShowMoreInfo">
        <!--<div ng-if="isApp" flex="main:center cross:center" ng-click="goToShare($event)">
          <img ng-src="{{imgBaseURL}}img/ic_toShare.png" alt="">
          <div>去分享</div>
        </div>-->
        <div flex="main:center cross:center" ui-sref="homePage">
          <img ng-src="{{imgBaseURL}}img/ic_homePage.png" alt="">
          <div>首&emsp;页</div>
        </div>
        <div flex="main:center cross:center" ng-click="customerServe()">
          <img ng-src="{{imgBaseURL}}img/ic_custom.png" alt="">
          <div>客&emsp;服</div>
        </div>
      </div>
    </div>
  </header>
  <!--分享蒙版-->
  <div ng-if="showShare" class="shareBackDrop" ng-click="hideMoreDetail()"></div>
  <div style="z-index: 999;position: absolute;width: 100%;bottom: 0px;left: 0px;background: white;" ng-if="showShare">
    <div class="shareToWhere" flex="main:center cross:center">
      <div class="horizontalLine"></div>
      <div>分享到</div>
      <div class="horizontalLine"></div>
    </div>
    <div style="text-align: center;width: 24%;display: inline-block" ng-click="shareToPlatform(1)" ng-if="hasWechat">
      <img style="padding: 15px;padding-bottom: 0px;width: 75%" ng-src="{{imgBaseURL}}img/btn_weixin.png" />
      <div style=" font-size: 12px;padding-bottom: 5px">微信</div>
    </div>
    <div style="text-align: center;width: 24%;display: inline-block" ng-click="shareToPlatform(2)" ng-if="hasWechat">
      <img style="padding: 15px;padding-bottom: 0px;width: 75%" ng-src="{{imgBaseURL}}img/btn_friend.png" />
      <div style=" font-size: 12px;padding-bottom: 5px">朋友圈</div>
    </div>
    <div style="text-align: center;width: 24%;display: inline-block" ng-click="shareToPlatform(3)" ng-if="hasQQ">
      <img style="padding: 15px;padding-bottom: 0px;width: 75%" ng-src="{{imgBaseURL}}img/btn_qq.png" />
      <div style=" font-size: 12px;padding-bottom: 5px">QQ</div>
    </div>
    <div style="text-align: center;width: 24%;display: inline-block" ng-click="shareToPlatform(4)" ng-if="hasQQ">
      <img style="padding: 15px;padding-bottom: 0px;width: 75%" ng-src="{{imgBaseURL}}img/btn_zone.png" />
      <div style=" font-size: 12px;padding-bottom: 5px">QQ空间</div>
    </div>
    <div style="text-align: center;width: 24%;display: inline-block" ng-click="shareToPlatform(0)">
      <img style="padding: 15px;padding-bottom: 0px;width: 75%" ng-src="{{imgBaseURL}}img/btn_weibo.png" />
      <div style=" font-size: 12px;padding-bottom: 5px">微博</div>
    </div>
    <div style="text-align: center;width: 24%;display: inline-block" ng-click="shareToPlatform(5)">
      <img style="padding: 15px;padding-bottom: 0px;width: 75%" ng-src="{{imgBaseURL}}img/btn_link.png" />
      <div style=" font-size: 12px;padding-bottom: 5px">复制链接</div>
    </div>
    <!--<div style="text-align: center;width: 24%;display: inline-block" ng-click="showQRImg()">-->
      <!--<img style="padding: 15px 15px 0;width: 75%" ng-src="img/ic_share_qrcode.png" />-->
      <!--<div style=" font-size: 12px;padding-bottom: 5px">二维码</div>-->
    <!--</div>-->
    <div class="horizontalLineBottom"></div>
    <div class="cancelShare" ng-click="cancelShare()">取&emsp;消</div>
  </div>
  <!--回到顶部-->
  <go-top delegate-handle="scrollSecondLevelStore" offset="40" width="50" temp="img/ic_backToTop.png"></go-top>
  <!--购物车-->
  <div ng-include="'templates/common/CommonShoppingCar.html'" class="shoppingCarTml"></div>
  <ion-content class="secLev_body" ng-style="iosAppPadding" overflow-scroll="true">
    <!--分享底下的透明模板-->
      <div class="moreDetailDrop" ng-if="isShowMoreInfo" ng-click="hideMoreDetail()"></div>
    <!--二级类目-->
    <div class="secondLevel_typeContainer">
      <div class="type_box">
        <div ng-click="clickSecondLevel($index)" ng-repeat="item in secTypeList track by $index" ng-class="checkedIndex==$index?'checkedType_css commonType_css':'uncheckedType_css commonType_css'">
          {{item.name}}
        </div>
      </div>
    </div>
    <!--筛选-->
    <div flex="main:justify cross:center" class="secLev_filter">
      <div ng-if="isBuyer == '1'&& settingsList[0].checked" flex="main:center cross:center" ng-class="chooseIndex==1?'Selected':'UnSelected'"
           ng-click="chooseTab(1)" >
        <span>佣金</span>
        <img ng-src="{{imgBaseURL}}{{arrowState[commission_index]}}" style="width: 6px;height: 10px;margin-left:2px;">
      </div>
      <div flex="main:center cross:center" ng-class="chooseIndex==3?'Selected':'UnSelected'"
           ng-click="chooseTab(3)" >
        销量
      </div>
      <div flex="main:center cross:center" ng-class="chooseIndex==4?'Selected':'UnSelected'"
           ng-click="chooseTab(4)" >
        <span>价格</span>
        <img ng-src="{{imgBaseURL}}{{arrowState[price_index]}}" style="width: 6px;height: 10px;margin-left:2px;">
      </div>
      <div flex="main:center cross:center" ng-class="chooseIndex==2?'Selected':'UnSelected'"
           ng-click="chooseTab(2)" >
        <span>筛选</span>
        <img ng-src="{{imgBaseURL}}{{filterState[filter_index]}}" style="width:16px;height: 16px;margin-left: 2px;">
      </div>
    </div>
    <!--商品展示区域-->
    <div class="secLev_productContainer">
      <div class="product_block" ng-repeat="item in productList" ui-sref="productDetail({'productId':item.productId,'o2oType': item.o2oType,'fromType':item.fromType,'storeId':storeId})">
        <!--商品图片-->
        <img ng-src="{{item.defaultImageUrl}}" alt="">
        <!--商品描述-->
        <div class="product_content" style='height:40px;'>{{item.productFirstName}}{{item.productSecondName}}</div>
        <!--商品价格-->
        <div class="product_price">¥{{(item.finalPrice | keepInt)||'--'}}<span>{{(item.finalPrice | keepFloat)||'--'}}</span></div>
        <!--商品佣金-->
        <div class="product_commission" ng-if="isBuyer==1 && settingsList[0].checked" flex="main:center cross:center" style="margin: 0 0 6px 8px;">
          ¥&nbsp;{{item.commission|keepInt}}<span>{{item.commission|keepFloat}}</span>
        </div>
      </div>
    </div>
    <!--上拉加载-->
    <ion-infinite-scroll ng-if="hasmore" on-infinite="loadMore()" distance="1%" immediate-check="false"></ion-infinite-scroll>
  </ion-content>
</ion-view>
