<ion-view class="background" view-title="设计师列表" hide-nav-bar="true" hide-back-button="true">
    <div style="height:44px;background:#fafafa;" flex="box:justify" ng-style="paddingtopClass">
        <div style="width:34px;height:44px;padding-left:16px;" flex="main:center cross:center" ng-click="goBack()">
        <div style="height:24px;width:24px;">
            <img style="height:100%;" ng-src="{{imgBaseURL}}img/Back black@2x.png" alt="" />
        </div>
        </div>
        <div style="height:44px;font-size: 18px;letter-spacing: -0.41px;text-align:center;line-height:44px;">设计师列表</div>
        <div style="width:60px;height:44px;padding-right:16px;" flex="main:center cross:center">
            
        </div>
    </div>
    <ion-content scrollbar-y="false"ng-style="paddingtopClasscontent">
      <div style="height:36px;font-size: 14px;line-height:36px;padding-left:20px;
      color: #666666;">修美美的家，在顺逛找萌萌的设计师</div>
      <div class="act-list">
                <ul>
                    <li ng-repeat="item in lists" ui-sref='designDetail({"soluteId":item.id})'>
                        <div>
                            <div ng-repeat="img in item.cases">
                                <img ng-src="{{img.imageUrl}}"/>
                            </div>
                        </div>
                        <div>
                            <h3><img src="{{item.avatar}}"/><i>{{item.name}}</i></h3>
                            <span>{{item.area}}</span>

                        </div>
                    </li>
                    <ion-infinite-scroll immediate-check="false" ng-if="hasmore" on-infinite="loadMore()"
                                 distance="1%"></ion-infinite-scroll>
                </ul>
                <div ng-if="bottomIF" style='text-align: center;padding: 10px 0;'>已经到底了～只能帮你到这里了</div>
                </div>
                
  
    </ion-content>
  </ion-view>
  