<ion-view view-title="我的课程" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button ng-click="goBack();" class="button-clear icon ion-ios-arrow-left" style="color:#999999;" id='backgrow'></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-click="goshare()" class="button-clear" style="opacity: 1 !important;">
            <img ng-src="{{imgBaseURL}}img/share2.png" class="block" style="width: 20px;height: 20px">
        </button>
        <button ng-click="isClick()" class="button-clear" style="opacity: 1 !important;">
            <img ng-src="{{imgBaseURL}}img/dot3.png" class="block" style="width: 20px;height: 20px">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="bg-background height-100">
            <ion-list>
                <ion-item class="item-avatar topic-st" ng-click="viewTopic(topic.id)"
                          ng-repeat="topic in myCreatTopics">
                    <img src="{{topic.topicImg|ImageTopicFilter}}" alt="" onerror="this.src='http://cdn09.ehaier.com/shunguang/H5/www/img/quanzi/quanzi.png'"
                         class="topic-head">
                    <div ng-bind="topic.topicName" class="topic-title">
                    </div>
                    <div class="dot-line topic-des " ng-bind="topic.topicDescription">
                    </div>
                    <div class="row padding-0 topic-nums">
                        <div class="col padding-0 text-align-l"><span
                                ng-bind="topic.storyNum|Num4Filter"></span>个话题
                        </div>
                        <div class="col padding-0 text-align-l"><span
                                ng-bind="topic.joinNum|Num4Filter"></span>个人
                        </div>
                    </div>
                    <div class="follow-button view-topic-arrow font-size-16">正在进行中</div>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
