<ion-view view-title="功能反馈" cache-view="false">
  <ion-nav-buttons side="right">
    <div style='height:24px;width:24px;margin-top:5px;margin-right:3px;' ui-sref="messageCenter">
      <img style="height:24px;width:24px;width:100%;height:100%;" ng-src="{{imgBaseURL}}img/Message@2x.png" alt="消息中心"/>
      <span ng-class="{true:'tab-red-point',false:''}[unreadMessage>0]"></span>
    </div>
  </ion-nav-buttons>
  <ion-content class="background">
    <div style="background-color: #FFFFFF;">
      <div style="padding: 12px;">反馈问题类型：</div>
      <div class="row row-no-padding" style="text-align: center;margin: 10px 0;">
        <div class="col col-center" style="text-align: center" ng-click="changeType(6)">
          <img ng-src="{{imgBaseURL}}img/ic_select.png" style="width: 20px;height: 20px;" ng-if="feedbackType==6"/>
          <img ng-src="{{imgBaseURL}}img/ic_check.png" style="width: 20px;height: 20px;" ng-if="feedbackType!=6"/>
          <span style="display: inline-block;height: 30px;vertical-align: middle">购物体验</span>
        </div>
        <div class="col col-center" style="text-align: center;vertical-align: middle;" ng-click="changeType(7)">
          <img ng-src="{{imgBaseURL}}img/ic_select.png" style="width: 20px;height: 20px;" ng-if="feedbackType==7"/>
          <img ng-src="{{imgBaseURL}}img/ic_check.png" style="width: 20px;height: 20px;" ng-if="feedbackType!=7"/>
          <span style="display: inline-block;height: 30px;vertical-align: middle">功能异常</span>
        </div>
        <div class="col col-center" style="text-align: center" ng-click="changeType(8)">
          <img ng-src="{{imgBaseURL}}img/ic_select.png" style="width: 20px;height: 20px;" ng-if="feedbackType==8"/>
          <img ng-src="{{imgBaseURL}}img/ic_check.png" style="width: 20px;height: 20px;" ng-if="feedbackType!=8"/>
          <span style="display: inline-block;height: 30px;vertical-align: middle">新功能建议</span>
        </div>
      </div>
      <div class="row row-no-padding" style="text-align: center;margin: 10px 0;;" ng-click="changeType(5)">
        <div class="col col-center">
          <img ng-src="{{imgBaseURL}}img/ic_select.png" style="width: 20px;height: 20px;" ng-if="feedbackType==5"/>
          <img ng-src="{{imgBaseURL}}img/ic_check.png" style="width: 20px;height: 20px;" ng-if="feedbackType!=5"/>
          <span style="display: inline-block;width:56px;height: 30px;vertical-align: middle;text-align: left;">其他</span>
        </div>
        <div class="col col-center"></div>
        <div class="col col-center"></div>
      </div>
      <div class="border-top-bottom" style="position: relative;padding: 5px 0 20px 5px;">
        <textarea name="" id="" cols="50" rows="10" placeholder="请写下您的意见或建议，我们会不断改进的" ng-model="feedback.content"
                  style="width: 100%;" ng-keyup="checkLength();" ng-paste="checkLength();"></textarea>

        <div style="position: absolute;bottom: 0;right: 10px;"><span ng-bind="feedback.content.length"></span>/500</div>
      </div>
      <div style="padding: 20px;" ng-if="isApp">
        <div style="display: inline-block;position: relative;" ng-if="imageList[0]">
          <img ng-src="{{imageList[0]}}" style="width: 56px;height: 56px;margin:0 5px -10px 5px;"/>
          <img ng-src="{{imgBaseURL}}img/ic_fd_delete.png" ng-click="removeImage(0)" style="width: 15px;height: 15px;position: absolute;right: -2px;top:-8px;"/>
        </div>
        <div style="display: inline-block;position: relative;" ng-if="imageList[1]">
          <img ng-src="{{imageList[1]}}" style="width: 56px;height: 56px;margin:0 5px -10px 5px;"/>
          <img ng-src="{{imgBaseURL}}img/ic_fd_delete.png" ng-click="removeImage(1)" style="width: 15px;height: 15px;position: absolute;right: -2px;top:-8px;"/>
        </div>
        <div style="display: inline-block;position: relative;" ng-if="imageList[2]">
          <img ng-src="{{imageList[2]}}" style="width: 56px;height: 56px;margin:0 5px -10px 5px;"/>
          <img ng-src="{{imgBaseURL}}img/ic_fd_delete.png" ng-click="removeImage(2)" style="width: 15px;height: 15px;position: absolute;right: -2px;top:-8px;"/>
        </div>
        <div ng-click="addImage()" ng-if="imageCount<3"
             style="width: 56px;height: 56px;text-align: center;border: dashed 1px #949494;display: inline-block;margin-left: 5px;">
          <img ng-src="{{imgBaseURL}}img/fd-camera.png" style="width: 24px;margin-top: 5px;"/>

          <div style="color: #A3A3A3;margin-top: -5px;"><span ng-bind="imageCount"></span>/3</div>
        </div>
      </div>
      <div class="list">
        <label class="item item-input">
          <span class="input-label" style="width: 25%;">手机号：</span>
          <input type="tel" ng-model="feedback.phoneNumber" placeholder="请输入手机号（可选填）">
        </label>
      </div>
    </div>
    <button ng-click="submitFeedback();" ng-if="canCommit" style="width: 90%;height: 40px;background-color: #2196f3;color:#fff;margin-left: 5%;margin-top: 12px;border: solid 1px #d2d2d2;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;">
      提交
    </button>
    <button ng-if="!canCommit" style="width: 90%;height: 40px;background-color: #F8F8F8;color:#A3A3A3;margin-left: 5%;margin-top: 12px;border: solid 1px #d2d2d2;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;">
      提交
    </button>
  </ion-content>
</ion-view>
