<!--模板-->
<ion-view style="background: #fafafa;" hide-nav-bar="true" title="优惠券详情">
  <div style="height:44px;background:#fafafa;" ng-style="paddingtopClass" flex="box:justify">
    <div style="height:44px;padding-left:16px;" flex="main:center cross:center" ng-click="goBack()">
      <img style="width:24px;" ng-src="{{imgBaseURL}}img/Back black@2x.png" alt="" />
    </div>
    <div style="height:44px;font-size: 17px;letter-spacing: -0.41px;text-align:center;line-height:44px;">优惠券详情</div>
    <div style="width:34px;height:44px;padding-right:16px;" flex="main:center cross:center">
    </div>
  </div>
  <!-- 电话提醒的蒙版开始 -->
  <div ng-if="remindme" style="background:#000;opacity:0.7;height:100%;position:fixed;width:100%;z-index:96;"></div>
  <div ng-if="remindme||remindSuccess" style="height:100%;position:fixed;width:100%;z-index:97;" flex="main:center cross:center">
    <!-- 电话输入开始 -->
    <div ng-if="remindme" style="width:81%;height:180px;background:#fff;padding:29px 22px 14px;position:relative;border-radius:8px;overflow:visible;">
     <div style="position:absolute;height:36px;width:20px;top:-36px;right:0;z-index:98;" ng-click="closeRemindMe()">
        <div style="width:20px;height:20px;border:1px solid #fff;border-radius:50%;">
          <img style="height:100%;width:100%;" ng-src="{{imgBaseURL}}img/x@2x.png" />
        </div>
        <div style="height:16px;width:1px;opacity:0.5;border:1px solid #fff;margin:0 auto;"></div>
      </div>
      <div style="margin-bottom:12px;opacity:0.86;font-size:15px;color:#333;line-height:22px;">开始前30分钟将通过短信提醒你</div>
      <div style="border-bottom:1px solid #eee;height:46px;" flex="cross:center">
        <input type="tel" name="name" value="" placeholder="请输入您的手机号" maxlength="11" onkeyup="value=this.value.replace(/\D+/g,'')" style="border:0;font-size:14px;color:#666;ime-mode:Disabled" ng-model="this.value" ng-change="telVerification(this.value)">
      </div>
      <div ng-if="!canSubmit" style="margin-top:14px;background:#75A8FF;box-shadow:0 3px 6px 0 rgba(41,121,255,0.25);border-radius:100px;height:44px;font-size:17px;color:#fff;text-align:center;line-height:44px;">提交</div>
      <div ng-if="canSubmit" ng-click="submitBackstage()" style="margin-top:14px;background:#2979FF;box-shadow:0 3px 6px 0 rgba(41,121,255,0.25);border-radius:100px;height:44px;font-size:17px;color:#fff;text-align:center;line-height:44px;">提交</div>
    </div>
    <!-- 电话输入开始 -->

    <!-- 电话提醒成功提示开始 -->
    <div ng-show="remindSuccess" style="width:81%;height:100px;background:#000;border-radius:8px;opacity:0.7;text-align:center;padding:16px 0 19px;">
      <div style="height:30px;width:27px;margin:0 auto 15px;">
        <img style="width:100%;height:100%;" ng-src="{{imgBaseURL}}img/queren@2x.png" />
      </div>
      <div style="font-size:14px;color:#333;color:#fff;">{{message}}</div>
    </div>
    <!-- 电话提醒成功提示结束 -->
  </div>
  <!-- 电话提醒的蒙版结束 -->
  <div style="height:44px;background:#fafafa;" flex="box:justify" ng-style="paddingtopClass">
    <div style="width:34px;height:44px;padding-left:16px;" flex="main:center cross:center" ng-click="goBack()">
      <img style="width:24px;" ng-src="{{imgBaseURL}}img/Back black@2x.png" alt="" />
    </div>
    <div style="height:44px;font-size: 17px;letter-spacing: -0.41px;text-align:center;line-height:44px;">领券中心</div>
    <div style="width:34px;height:44px;padding-right:16px;" flex="main:center cross:center" ng-click="share()">
      <img style="width:22px;" ng-src="{{imgBaseURL}}img/share2.png" alt="" />
    </div>
  </div>
  <ion-content scrollbar-y="false" ng-style="paddingtopClasscontent" style="background:#eee;padding-top:12px;">
    <div ng-if="data.displayType==1" style="height:164px;margin-bottom:8px;position:relative;padding:0 16px;">
      <div ng-repeat="dstr in divStr" style="background:#eee;border-radius:50%;width:6px;height:6px;position:absolute;left:{{dstr}}px;top:114px;"></div>
      <div style="height:118px;" flex="box:first" ng-style="data.couponType==1?backGroundRed:backGroundBlue">
        <div style="width:150px;padding-left:26px;color:#fff;letter-spacing:0;text-shadow:0 1px 2px rgba(213,72,0,0.50);" flex="cross:center">
          <div style="font-size:16px;margin-top:13px;">￥</div>
          <div style="font-size:40px;line-height:40px;" ng-bind="data.couponValue"></div>
        </div>
        <div style="font-size:12px;color:#fff;line-height:18px;text-shadow:0 1px 2px #D54800;" flex="main:center dir:top">
          <span>{{data.platformCoupon}}</span>
          <span>{{data.minAmountDoc}}</span>
          <span>{{data.startTime}}-{{data.endTime}}</span>
        </div>
      </div>
      <div style="height:46px;background:#fff;border-radius:0 0 6px 6px;font-size:12px;color:#666;" flex="cross:center box:justify">
        <div style="width:48px;padding-left:17px;">逛券</div>
        <div flex="main:center cross:center">
          <div>已抢{{data.percent}}%</div>
          <div style="height:10px;width:90px;margin-left:4px;background: #E4E4E4;border-radius:8px;position:relative;">
            <div style="height:10px;background:#F56767;border-radius:8px;position:absolute;width:{{progress(data.percent)}}px;"></div>
          </div>
        </div>
        <div style="width:80px;" ng-click="getNewCoupons({{data.id}})">
          <div style="border:1px solid #F56767;border-radius:22px;font-size:14px;color:#F56767;text-align:center;height:26px;line-height:25px;margin-right:3px;">立即领取
          </div>
        </div>
      </div>
    </div>
    <div ng-if="data.displayType==2" style="height:164px;margin-bottom:8px;position:relative;padding:0 16px;">
      <div ng-repeat="dstr in divStr" style="background:#eee;border-radius:50%;width:6px;height:6px;position:absolute;left:{{dstr}}px;top:114px;"></div>
      <div style="overflow:hidden;position:absolute;top:0px;right:16px;width:77px;height:93px;z-index:11;">
          <div style="position:absolute;width:93px;height:93px;top:-3px;right:-18px;z-index:10;">
            <img style="width:100%;height:100%;" ng-src="{{imgBaseURL}}img/quan-yl2@2x.png" />
          </div>
        </div>
      <div style="height:118px;overflow:hidden;" flex="box:first" ng-style="data.couponType==1?backGroundRed:backGroundBlue">
        <div style="height:100%;width:150px;padding-left:26px;color:#fff;letter-spacing:0;text-shadow:0 1px 2px rgba(213,72,0,0.50);" flex="cross:center">
          <div style="font-size:16px;margin-top:13px;">￥</div>
          <div style="font-size:40px;line-height:40px;" ng-bind="data.couponValue"></div>
        </div>
        <div style="font-size:12px;color:#fff;line-height:18px;text-shadow:0 1px 2px #D54800;" flex="main:center dir:top">
          <span>{{data.platformCoupon}}</span>
          <span>{{data.minAmountDoc}}</span>
          <span>{{data.startTime}}-{{data.endTime}}</span>
        </div>
      </div>
      <div style="height:46px;background:#fff;border-radius:0 0 6px 6px;font-size:12px;color:#666;" flex="cross:center box:justify">
        <div style="width:48px;padding-left:17px;">逛券</div>
        <div flex="main:center cross:center">
          <div ng-show="false">已抢100%</div>
          <div style="height:10px;width:100px;margin-left:4px;background: #E4E4E4;border-radius:8px;" ng-show="false"></div>
        </div>
        <div style="width:80px;" ui-sref="CommodityList({couponId:data.id})">
          <div style="border:1px solid #F56767;border-radius:22px;font-size:14px;color:#fff;text-align:center;height:26px;line-height:25px;margin-right:3px;background:#F56767;">立即使用
          </div>
        </div>
      </div>
    </div>
    <div ng-if="data.displayType==3" style="height:164px;margin-bottom:8px;position:relative;padding:0 16px;">
      <div ng-repeat="dstr in divStr" style="background:#eee;border-radius:50%;width:6px;height:6px;position:absolute;left:{{dstr}}px;top:114px;"></div>
      <div style="height:118px;" flex="box:first" ng-style="data.couponType==1?backGroundRed:backGroundBlue">
        <div style="width:150px;padding-left:26px;color:#fff;letter-spacing:0;text-shadow:0 1px 2px rgba(213,72,0,0.50);" flex="cross:center">
          <div style="font-size:16px;margin-top:13px;">￥</div>
          <div style="font-size:40px;line-height:40px;" ng-bind="data.couponValue"></div>
        </div>
        <div style="font-size:12px;color:#fff;line-height:18px;text-shadow:0 1px 2px #D54800;" flex="dir:top main:center">
          <span>{{data.platformCoupon}}</span>
          <span>{{data.minAmountDoc}}</span>
          <span>{{data.startTime}}-{{data.endTime}}</span>
          <span>{{data.reMinderNum}}人已设置提醒</span>
        </div>
      </div>
      <div style="height:46px;background:#fff;border-radius:0 0 6px 6px;font-size:12px;color:#666;" flex="cross:center box:justify">
        <div style="width:48px;padding-left:17px;">逛券</div>
        <div flex="main:center cross:center">
          <div>距开抢还有:</div>
          <div style="color: #F56767;font-size:12px;transform:scale(0.83,0.83);" flex="cross:center">
            <div style="height:18px;width:18px;line-height:18px;background:#F56767;border-radius:2px;color:#fff;text-align:center;">{{endTt}}</div>
            <span style="width:6px;text-align:center;">:</span>
            <div style="height:18px;width:18px;line-height:18px;background:#F56767;border-radius:2px;color:#fff;text-align:center;">{{endTh}}</div>
            <span style="width:6px;text-align:center;">:</span>
            <div style="height:18px;width:18px;line-height:18px;background:#F56767;border-radius:2px;color:#fff;text-align:center;">{{endTm}}</div>
            <span style="width:6px;text-align:center;">:</span>
            <div style="height:18px;width:18px;line-height:18px;background:#F56767;border-radius:2px;color:#fff;text-align:center;">{{endTs}}</div>
          </div>
        </div>
        <div style="width:80px;" ng-click="openRemindMe({{data.id}})">
          <div style="border:1px solid #F56767;border-radius:22px;font-size:14px;color:#fff;text-align:center;height:26px;line-height:25px;margin-right:3px;background:#F56767;">提醒我
          </div>
        </div>
      </div>
    </div>
    <div ng-if="data.displayType==4" style="height:164px;margin-bottom:8px;position:relative;padding:0 16px;">
      <div ng-repeat="dstr in divStr" style="background:#eee;border-radius:50%;width:6px;height:6px;position:absolute;left:{{dstr}}px;top:114px;"></div>
      <div style="height:118px;" flex="box:first" ng-style="data.couponType==1?backGroundRed:backGroundBlue">
        <div style="width:150px;padding-left:26px;color:#fff;letter-spacing:0;text-shadow:0 1px 2px rgba(213,72,0,0.50);" flex="cross:center">
          <div style="font-size:16px;margin-top:13px;">￥</div>
          <div style="font-size:40px;line-height:40px;" ng-bind="data.couponValue"></div>
        </div>
        <div style="font-size:12px;color:#fff;line-height:18px;text-shadow:0 1px 2px #D54800;" flex="main:center dir:top">
          <span>{{data.platformCoupon}}</span>
          <span>{{data.minAmountDoc}}</span>
          <span>{{data.startTime}}-{{data.endTime}}</span>
          <span>{{data.reMinderNum}}人已设置提醒</span>
        </div>
      </div>
      <div style="height:46px;background:#fff;border-radius:0 0 6px 6px;font-size:12px;color:#666;" flex="cross:center box:justify">
        <div style="width:48px;padding-left:17px;">逛券</div>
        <div flex="main:center cross:center">
          <div>距开抢还有:</div>
          <div style="color: #F56767;font-size:12px;transform:scale(0.83,0.83);" flex="cross:center">
            <div style="height:18px;width:18px;line-height:18px;background:#F56767;border-radius:2px;color:#fff;text-align:center;">{{endTt}}</div>
            <span style="width:6px;text-align:center;">:</span>
            <div style="height:18px;width:18px;line-height:18px;background:#F56767;border-radius:2px;color:#fff;text-align:center;">{{endTh}}</div>
            <span style="width:6px;text-align:center;">:</span>
            <div style="height:18px;width:18px;line-height:18px;background:#F56767;border-radius:2px;color:#fff;text-align:center;">{{endTm}}</div>
            <span style="width:6px;text-align:center;">:</span>
            <div style="height:18px;width:18px;line-height:18px;background:#F56767;border-radius:2px;color:#fff;text-align:center;">{{endTs}}</div>
          </div>
        </div>
        <div style="width:80px;">
          <div style="border:1px solid #F56767;border-radius:22px;font-size:14px;color:#F56767;text-align:center;height:26px;line-height:25px;margin-right:3px;">已设提醒
          </div>
        </div>
      </div>
    </div>
    <div ng-if="data.displayType==5" style="height:164px;margin-bottom:8px;position:relative;padding:0 16px;opacity:0.5;">
      <div ng-repeat="dstr in divStr" style="background:#eee;border-radius:50%;width:6px;height:6px;position:absolute;left:{{dstr}}px;top:114px;"></div>
      <div style="height:118px;" flex="box:first" ng-style="data.couponType==1?backGroundRed:backGroundBlue">
        <div style="width:150px;padding-left:26px;color:#fff;letter-spacing:0;text-shadow:0 1px 2px rgba(213,72,0,0.50);" flex="cross:center">
          <div style="font-size:16px;margin-top:13px;">￥</div>
          <div style="font-size:40px;line-height:40px;" ng-bind="data.couponValue"></div>
        </div>
        <div style="font-size:12px;color:#fff;line-height:18px;text-shadow:0 1px 2px #D54800;" flex="dir:top main:center">
          <span>{{data.platformCoupon}}</span>
          <span>{{data.minAmountDoc}}</span>
          <span>{{data.startTime}}-{{data.endTime}}</span>
        </div>
      </div>
      <div style="height:46px;background:#fff;border-radius:0 0 6px 6px;font-size:12px;color:#666;" flex="cross:center box:justify">
        <div style="width:48px;padding-left:17px;">逛券</div>
        <div flex="main:center cross:center">
          <div style="height:10px;width:90px;margin-left:4px;background: #E4E4E4;border-radius:8px;"></div>
        </div>
        <div style="width:80px;">
          <div style="border:1px solid #E4E4E4;border-radius:22px;font-size:14px;color:#fff;text-align:center;height:26px;line-height:25px;margin-right:3px;background:#E4E4E4;">已抢完
          </div>
        </div>
      </div>
    </div>
    <div style="background:#fff;padding:0 16px 30px;;font-size:14px;">
      <div style="font-size:16px;padding:20px 0 20px 0;">使用规则</div>
      <div style="color: rgba(51,51,51,0.87);">
        <p>1、一张优惠券只能使用一次，多次使用无效;</p>

        <p>2、优惠券仅可单独使用，不可与其他优惠券同时使用（例如：商品券、满减券等）;</p>

        <p>3、通用券目前仅支持自营产品使用（具体参照使用型号），不支持O2O型号使用;</p>

        <p>4、使用优惠券抵扣的金额不开具发票;</p>

        <p>5、单品的总额需高于活动现金券的面值，才可以使用该现金券;</p>

        <p>6、优惠券不支持部分品类或型号（具体品类或型号参照活动场规则）的订单支付;</p>

        <p>7、确认使用优惠券形成订单后，如取消该订单或发生退货，优惠券也会相应失效，请谨慎使用;</p>
      </div>
    </div>
    <div style="height:16px;"></div>
  </ion-content>
</ion-view>
