<!--我的->绑定结果-->
<ion-view class="background" view-title="绑定结果" hide-back-button="true">
  <ion-content scrollbar-y="false">
    <div class="margin-bottom-20">
    </div>
    <div class="text-align-c padding-top-bottom-20 bindResult-top">
      <img class="head-icon" ng-src={{iconImage}} alt="头像"/>
    </div>
    <div class="text-align-c">
      <div class="font-size-15 padding-5">
        恭喜你以绑定快捷通账号
      </div>
      <div class="font-size-12 padding-5 color-text-m">
        快捷通账户：
        <span ng-bind="mobile"></span>
      </div>
      <div class="font-size-12 padding-5 color-text-m">
        姓名：
        <span ng-bind="account"></span>
      </div>
      <div class="font-size-12 padding-5 color-text-m">
        身份证号：
        <span ng-bind="personId"></span>
      </div>
      <div class="font-size-12 padding-5 color-text-m">
        快捷通官网 http://www.kjtpay.com
      </div>
    </div>
  </ion-content>
  <div class="text-align-c width-100 padding down-side">
    <div class="text-align-c color-text-white padding unload-background" ng-click="goBack()">返回</div>
  </div>
</ion-view>
