<!--顺逛众筹 详情页 -->
<ion-view  class="background"  view-title="众筹详情"  cache-view="false" hide-nav-bar="true">
  <div ng-class="{true:'iosTopcss',false:'androidTopcss'}[isIos]" class="mess-tip" style="display:none;color:#fff;text-align:center;width:70%;height:35px;line-height:35px;background:#000;opacity:0.9;position:absolute;left:8px;z-index:99;border-radius:5px;font-size:12px;"></div>
  <!--头部右侧点击信息-->
  <!-- <ion-nav-buttons side="right" class="title">
      <div style='height:24px;width:24px;margin-top:5px;margin-right:3px;' >
        <img ng-src="{{imgBaseURL}}img/share grad@2x.png" alt="分享按钮" class="title1-share-btn" ng-click="share()" style="width: 30px;height: 30px;right: 6px;position: absolute;top: 2px;"
             ng-if="isApp"/>
    </div>
  </ion-nav-buttons> -->
  <div flex="main:center cross:center" style="position: relative;padding:0 5px;width: 100%;background: #f8f8f8;" ng-class="{true:'iosHeaderCss',false:'otherHeaderCss'}[isIOS]">
    <img ng-click="$ionicGoBack()" ng-src="{{imgBaseURL}}img/addressBack@2x.png" style="width:24px;height:24px;position: absolute;bottom: 10px;left:5px;"></img>
    <div style="font-size: 20px;color: #444444;">众筹详情</div>
  </div>
  <!--分享  start-->
  <div style="z-index: 99;position: absolute;width: 100%;height: 100%;background: black;opacity: 0.3" ng-if="showShare" ng-click="hideblackCover()">
  </div>
  <div style="z-index: 100;position: absolute;width: 100%;bottom: 0px;left: 0px;background: white;" ng-if="showShare">
    <div ng-if="(isApp && (isBuyer==1)&&(userId==storeId))" style="color:#7EC0EE;background: white;font-size: 12px;text-align:center;padding-top:10px;">您的好友通过分享购买，您将赚到不菲的佣金哦</div>
    <div style="text-align: center;width: 24%;display: inline-block" ng-click = "shareToPlatform(1)" ng-if = "hasWechat">
      <img style="padding: 15px;padding-bottom: 0px;width: 75%" ng-src="{{imgBaseURL}}img/btn_weixin.png"/>
      <div style=" font-size: 12px;padding-bottom: 5px">微信</div>
    </div>
    <div style="text-align: center;width: 24%;display: inline-block" ng-click = "shareToPlatform(2)" ng-if = "hasWechat">
      <img style="padding: 15px;padding-bottom: 0px;width: 75%" ng-src="{{imgBaseURL}}img/btn_friend.png"/>
      <div style=" font-size: 12px;padding-bottom: 5px">朋友圈</div>
    </div>
    <div style="text-align: center;width: 24%;display: inline-block" ng-click = "shareToPlatform(3)" ng-if = "hasQQ">
      <img style="padding: 15px;padding-bottom: 0px;width: 75%" ng-src="{{imgBaseURL}}img/btn_qq.png"/>
      <div style=" font-size: 12px;padding-bottom: 5px">QQ</div>
    </div>
    <div style="text-align: center;width: 24%;display: inline-block" ng-click = "shareToPlatform(4)" ng-if = "hasQQ">
      <img style="padding: 15px;padding-bottom: 0px;width: 75%" ng-src="{{imgBaseURL}}img/btn_zone.png"/>
      <div style=" font-size: 12px;padding-bottom: 5px">QQ空间</div>
    </div>
    <div style="text-align: center;width: 24%;display: inline-block" ng-click = "shareToPlatform(0)">
      <img style="padding: 15px;padding-bottom: 0px;width: 75%" ng-src="{{imgBaseURL}}img/btn_weibo.png"/>
      <div style=" font-size: 12px;padding-bottom: 5px">微博</div>
    </div>
    <div style="text-align: center;width: 24%;display: inline-block" ng-click = "shareToPlatform(5)">
      <img style="padding: 15px;padding-bottom: 0px;width: 75%" ng-src="{{imgBaseURL}}img/btn_link.png"/>
      <div style=" font-size: 12px;padding-bottom: 5px">复制链接</div>
    </div>
  </div>
  <!--分享  end-->


  <!--内容区域-->
  <ion-content  scrollbar-y="false" ng-class="{true:'iosContentCss',false:'otherContentCss'}[isIOS]">
    <!--1.轮播-->
    <ion-slide-box style="height: 236px;"  delegate-handle="crowd_funding_details_slider" auto-play="true" does-continue="true" >
      <ion-slide style="background: #fff;" ng-repeat="item in detailsBanner track by $index" class="text-align-c" ng-click="seeBigPic($index+1)">
        <img ng-src={{item}} class="height-min-100" height="236px"/>
      </ion-slide>
    </ion-slide-box>


    <!--2.大容器-->
    <div class="crowd_funding_details">
      <!--2.1 众筹状态 和 标题-->
       <div class="crowd_funding_details_title">
         <span class="crowd_home_new_loading_state crowd_funding_details_state" ng-if="isTrues">{{isStatus}}</span>
         <span class="crowd_home_new_loading_state crowd_funding_details_state crowd_funding_isError" ng-if="!isError">{{isStatus}}</span>
         <span class="crowd_funding_details_msg">{{productList.activityName}}</span>
       </div>
      <!--2.2 该商品的简介-->
      <div class="crowd_funding_details_describe">
           <p class="crowd_funding_details_describe_info">
             {{productList.activityDsp}}
           </p>
      </div>
      <!--2.3 支持人数和 筹资钱数-->
       <div class="crowd_funding_details_sum">
          <div class="crowd_funding_details_sum_box">
            <!-- 支持的人数和钱数 -->
             <div class="crowd_funding_details_content">
               <span class="crowd_funding_details_nums"><i class="crowd_funding_details_num">{{productList.supportNum || 0}}</i>人支持</span>
               <span>已筹资:<i class="crowd_funding_details_sum_money">￥{{productList.raisedAmount || 0}}</i></span>
             </div>
             <!--进度条 插件 显示百分比-->
            <div class="crowd_home_new_loading crowd_funding_details_load">
              <!--显示进度-->
              <div class="crowd_home_new_loading_load crowd_funding_details_loading">
                <div class="crowd_home_new_loading_color" ng-style="{width:(productList.raisedAmount/productList.targetAmount)*100+'%'}"></div>
              </div>
              <!--显示文字-->
              <span class="crowd_home_new_loading_num min_w_details">{{Math.ceil((productList.raisedAmount/productList.targetAmount)*100)+'%'}}</span>
            </div>
          </div>
       </div>
      <!--2.5 剩余时间 目标资金-->
      <div class="crowd_funding_details_surplus">
          <div class="crowd_funding_details_surplus_box">
            <span ng-if="isSurplus">剩余:<i>{{productList.remainingDays}}</i></span>
            <span ng-if="isStarts">距离开始:<i>{{productList.toStartTime}}</i></span>
            <span class="crowd_funding_details_surplus_right">目标:<i>¥{{productList.targetAmount}}</i></span>
          </div>
      </div>
    </div>
    <!--3. 点击更多档位 跳转到选择档位页面-->
    <div class="crowd_funding_more_details" ui-sref="crowd_funding_hot_redound({'zActivityId':productList.id})">
         <div class="crowd_funding_more_details_box">
           <!--3.1 标题 -->
           <div class="crowd_funding_more_title">
             <span style="color:#666;font-size: 14px;">热门回报档位</span>
             <span style="color:#999;float: right;font-size: 14px;">更多档位 <i class="icon ion-chevron-right"></i> </span>
           </div>
           <!--3.2 显示钱数和支持人数-->
           <div class="crowd_funding_more_money">
             <span class="crowd_funding_mmoney">￥<i>{{productList.zstallsAmount}}</i></span>
             <span ng-if="isBuyer==1 && settingsList[0].checked"><em class="crowd_funding_more_earn"><i class="crowd_funding_more_earn_text">赚</i></em><i>￥{{(productList.zstallsAmount*productList.zstallsCommission)|number:2}}</i></span>
             <p class="crowd_funding_more_support" style="float: right;">支持者:<i>{{productList.zstallsSupportNum}}</i></p>
           </div>
         </div>

    </div>
    <!--4. 项目详情 和 规格参数-->
     <div class="crowd_funding_project_details">
       <!--4.1 头部 -->
       <div class="crowd_funding_hot_project_title">
          <span style="position: relative;display: inline-block;">项目详情<i class="crowd_funding_line"></i></span>
          <!--<span>规格参数</span>-->
       </div>
       <!--4.1 显示项目详情和规格参数的内容 tab切换-->
        <div style="background: #fff;">
             <!--显示头像 显示店主名称 显示店铺介绍-->
            <div  class="crowd_funding_details_project_keeper">
                <dl>
                  <dt>
                         <img style="width: 100%;height: 100%;border-radius: 100%;" ng-src="{{productList.adderAvatar}}" >
                  </dt>
                  <dd>
                     <h2 style="font-size: 16px;color: #333;font-weight: 600;margin-bottom: 6px;">{{productList.adder}}</h2>
                     <p>
                       {{productList.adderDsp}}
                     </p>
                  </dd>
                </dl>
            </div>
             <!--显示富文本-->
            <div style="padding: 0 16px;width: 100%;">
              <div class="richTextPic" style="width: 100%;" ng-bind-html="richText"></div>
            </div>
            <div style="width: 100%;height: 48px;"></div>
        </div>
     </div>
  </ion-content>
  <div ng-include="'templates/common/CommonLoginPopup1.html'"></div>
  <div ng-include="'templates/common/CommonLoginPopup2.html'"></div>
  <!-- footer 页脚 客服 关注 我要支持-->
  <ion-footer-bar style="height: 48px;" ng-if="isShowBtn">
    <div style="width: 100%;">
         <!--客服-->
           <div class="crowd_funding_details_btn">
           <div class="crowd_funding_details_kf" ng-click="customerServe()">
             <div class="kefu"><img ng-src="{{imgBaseURL}}img/kf@2x.png" alt="客服"></div>
             <span>客服</span>
           </div>
         </div>
         <!--关注-->
        <!-- <div class="crowd_funding_details_btn">
            <div class="crowd_funding_details_kf">
              <div class="kefu"><img ng-src="{{imgBaseURL}}img/shoucang@2x.png" alt="关注"></div>
              <span>关注</span>
            </div>

        </div>-->
         <!--状态 两种 我要支持 预热中-->
        <div class="crowd_funding_details_GoBtn"  >
           <!--{{activityStatus==0?"预热中":"我要去支持"}}-->
           <div ng-if="activityStatus==0">
              预热中
           </div>
           <div ng-if="activityStatus==1" ng-click="goToSupport(productList.id)">
             我要去支持
           </div>
        </div>
    </div>
  </ion-footer-bar>
</ion-view>
