<!--模板-->
<ion-view class="background" view-title="购物车">
  <!-- 电话提醒的蒙版开始 -->
  <div ng-if="remindSuccess" style="height:100%;position:fixed;width:100%;z-index:97;" flex="main:center cross:center">
    <!-- 电话提醒成功提示开始 -->
    <div ng-if="remindSuccess" style="width:81%;height:100px;background:#000;border-radius:8px;opacity:0.7;text-align:center;padding:16px 0 19px;">
      <div style="height:30px;width:27px;margin:0 auto 15px;">
        <img style="width:100%;height:100%;" ng-src="{{imgBaseURL}}img/queren@2x.png" />
      </div>
      <div style="font-size:14px;color:#333;color:#fff;">{{message}}</div>
    </div>
    <!-- 电话提醒成功提示结束 -->
  </div>
  <!-- 电话提醒的蒙版结束 -->
  <!-- 新增优惠券弹出开始 -->
    <div class="modal-backdrop active" ng-if="getcoupons">
        <div class="modal-backdrop-bg"></div>
        <!--模板-->
        <ion-modal-view class="background modal slide-in-up ng-enter active ng-enter-active" view-title="" hide-nav-bar="true" style="position: fixed;top: 132px;left: 0;background:#eee;">
          <div style="height:44px;text-align:center;line-height:44px;font-size:17px;position:relative;">
            <span>优惠券</span>
            <div ng-click="closeCoupons()" style="position:absolute;height:24px;width:24px;right:9px;;top:9px;"><img style="width:100%;height:100%;margin-bottom:5px;" ng-src="{{imgBaseURL}}img/x@2x.png"/></div>
          </div>
          <div style="height:40px;margin-left:16px;line-height:40px;font-size:14px;color:rgba(51,51,51,0.87);">可领优惠券</div>
          <ion-content scrollbar-y="false" style="top:84px;" delegate-handle="mainScroll" class="scroll-content ionic-scroll">
            <div style="height:90px;margin:0 16px 8px;position:relative;" flex="box:last" ng-repeat="shopCoupon in shopCoupons">
              <div style="height:90px;background:#fff;" flex="box:first">
                <div>
                  <div ng-repeat="dstrl in divStrl" style="background:#eee;border-radius:50%;width:6px;height:6px;position:absolute;left:-3px;top:{{dstrl}}px;"></div>
                  <div ng-repeat="dstrl in divStrl" style="background:#eee;border-radius:50%;width:6px;height:6px;position:absolute;right:-3px;top:{{dstrl}}px;"></div>
                  <div ng-repeat="dstrm in divStrm" style="background:#eee;border-radius:3px;width:2px;height:8px;position:absolute;top:{{dstrm}}px;right:69px;"></div>
                  <div ng-repeat="dstrt in divStrt" style="background:#eee;border-radius:16px;width:16px;height:16px;position:absolute;top:{{dstrt}}px;right:63px;"></div>
                  <div style="width:110px;line-height:90px;text-align:left;padding-left:12px;color:#f56767;letter-spacing:-2px;">
                    <span style="font-size:16px;opacity:0.87;">￥</span>
                    <span style="font-size:32px;font-weight:600;">{{shopCoupon.couponValue}}</span>
                  </div>
                </div>
                <div style="font-size:12px;padding:13px 0 11px 0;">
                  <div style="color:#F56767;" flex="">
                    <div style="line-height:17px;">{{shopCoupon.minAmountDoc}}</div>
                  </div>
                  <div style="color: rgba(51,51,51,0.87);line-height:20px;margin:9px 0 3px 0;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">{{shopCoupon.limitProductDoc}}</div>
                  <div style="color: rgba(102,102,102,0.87);line-height:17px;">{{shopCoupon.timeDoc}}</div>
                </div>
              </div>
              <div style="height:90px;width:69px;background:#F56767;color:rgba(255,255,255,0.87);font-size:14px;" flex="main:center cross:center">
                <div style="line-height:18px;" ng-if="shopCoupon.displayType == 1" ng-click="getNewCoupons(shopCoupon.id)">
                  <div>点击</div>
                  <div>领取</div>
                </div>
                <div style="height:66px;width:66px;" ng-if="shopCoupon.displayType == 2">
                  <img style="width:100%;height:100%;" ng-src="{{imgBaseURL}}img/quan-yl2@2x.png" />
                </div>
              </div>
            </div>
            <div style="height:132px;"></div>
            <ion-infinite-scroll ng-if="hasMoreCoupons" on-infinite="logConpous()" distance="1%" immediate-check="false"></ion-infinite-scroll>
          </ion-content>
        </ion-modal-view>
    </div>
  <!-- 新增优惠券弹出结束 -->
  <ion-content scrollbar-y="false">
    <div ng-if="isShow">

      <!--购物车商品数量-->
      <div class="padding-top-10 padding-bottom-0 padding-left-10">
        <span ng-bind="cartSubTitle"></span>
      </div>

      <!--商品列表-->
      <div style="margin-bottom:55px">
        <div ng-repeat="product in cartMessage.data.carts" class="bg-white margin-top-10" ng-class="{'active': $index}" style="height: 185px;">
          <!--商品名称-->
          <div flex="box:last">
            <div>
              <ion-checkbox ng-model="product.isChecked" ng-change="selectedChanged(product, product.isChecked, $index)"
                            class="font-size-13 border-none">
                <span ng-bind="product.productName" class="font-bold"></span>
              </ion-checkbox>
            </div>
            <div ng-if="product.couponList == 1" style="margin-right:16px;width:28px;" ng-click="openCoupons(product.productId,product.brandId,product.productCateId,product.price,product.o2oAttrId)">
              <img style="width:100%;margin-top:10px;" ng-src="{{imgBaseURL}}img/quan@2x.png" />
            </div>
          </div>
          <div class="row padding-top-0" style="height: 135px;">
            <!--商品图片-->
            <div class="col col-25 text-align-c" style="overflow: hidden;" ui-sref="productDetail({productId:product.productId,storeId:product.memberId,o2oType:product.o2oType,fromType:10})">
              <img ng-src={{product.imageId}} width="" class="padding-5 margin-top-10" style="height: 72px"/>
            </div>
            <div class="col col-75 ">
              <!--商品描述-->
              <div ui-sref="productDetail({productId:product.productId,storeId:product.memberId,o2oType:product.o2oType,fromType:10})" ng-bind="product.productTitle" class="font-size-11" style="height: 40px;overflow: hidden;text-overflow:ellipsis;"></div>
              <!--分割线-->
              <div class="padding-top-10 margin-bottom-5 bg-white">
                <li class="margin-left-right-10 border-top li-no-style"></li>
              </div>
              <!-- 规格数量 -->
              <div style=" height:20px;" ng-if="product.attrValueNames != null"><span >已选&nbsp;&nbsp;</span>{{product.attrValueNames}}</div>
              <div class="row">
                <div class="col col-50 bg-white border border-radius padding-0" style="height: 40px">
                  <div class="row text-align-c">
                    <div class="ion-ios-minus-empty font-size-26 col-20"  ng-click="nus($index)"></div>
                    <div class="col-60 row row-no-padding">
                      <div class="border-left-right margin-left-right-5 padding-top-3 width-100" ng-bind="product.number"></div>
                    </div>
                    <div class="ion-ios-plus-empty font-size-26 col-20" ng-click="plus($index)"></div>
                  </div>
                </div>
                <div class="col col-50 padding-0 text-align-c">
                  <div class="bg-white border border-radius padding-top-bottom-10 width-50 float-r" style="height: 40px" ng-click="deleteProduct($index)">删除</div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


      <div class="bg-background" style="height: 60px"></div>
    </div>
    <div ng-if="noGoods" class="text-align-c">
      <img ng-src="{{imgBaseURL}}img/basket.png" alt="" class="width-60"/>
      <h4 class="font-bold margin-top-0">您的购物车暂无商品</h4>
      <div class="color-text-l">马上去挑选您钟情的商品吧</div>
    </div>
  </ion-content>
  <div ng-include="'templates/common/CommonLoginPopup1.html'"></div>
  <div ng-include="'templates/common/CommonLoginPopup2.html'"></div>
  <div class="row bg-white row-no-padding border" ng-style="footerSubmit" ng-if="isShow">
    <div class="col col-40">
      <ion-checkbox ng-model="all.isAllChecked" ng-click="checkAll(all.isAllChecked)"
                    class="border-left-right-none font-size-13">
        <span class="font-bold font-size-15">全选</span>
      </ion-checkbox>
    </div>
    <div class="col col-40 text-align-r padding-right-5">
      <div class="padding-top-15">
        <span>合计:</span>
        <span ng-bind="totalMoney | currency :'￥'"></span>
      </div>
    </div>
    <div class="col col-20">
      <div class="bg-orange color-text-white font-size-18 text-align-c padding-top-15" ng-click="settlement()" style="height: 53px">
        <span>结算</span>
      </div>
    </div>
  </div>
  <ion-footer-bar>
    <div ng-include="'templates/common/Tabs.html'"></div>
  </ion-footer-bar>
</ion-view>
