<ion-view view-title="新机制说明" cache-view="false">
  <!--头部-->
 <!-- <div class="team_supervise">
    &lt;!&ndash;头部&ndash;&gt;
    <div style="line-height: 2.4;" flex="main:justify">
        <span>
          <img ng-src="img/ic_back_white.png" style="width:24px;margin:6px 0 0 16px;" ng-click="goBack()">
        </span>
      <span style="font-size: 16px;">新机制说明</span>
      <span></span>
    </div>-->
  <!--</div>-->
  <ion-content scrollbar-y="false">
      <div style="font-size: 14px; margin: 0 10px;">
         <div>
             <p>自2017年9月1日起，顺逛已完成实名认证的微店主均可以发展成为顺逛的舵主、盟主！一起来看看盟主舵主权益和晋级条件吧~</p>
             <div> 舵主权益</div>
             <p> 1、培训奖励： 与微店主关系最近的舵主直接发展合伙人：20元无门槛优惠券+50元钻石；团队其他人员发展的微店主，此舵主会获得50元钻石。</p>
             <p> 2、舵主的团队销售额奖励：（团队销售额-子盟主及其团队-子舵主及其团队） *0.8%</p>
             <p>注：非子舵主及团队、非子盟主及团队，子舵主、子盟主自己本身的销售额也不包括在内。</p>
         </div>
       <div>
           <div>盟主权益</div>
           <p>盟主除享受舵主权益之外，还额外获得以下奖励</p>
           <p>1、（团队销售额-子盟主及其团队-子舵主及其团队） *0.8%</p>
           <p>2、（子舵主及其团队销售额） *0.4%</p>
           <p>注1：子舵主及其团队：盟主直接下属舵主及其团队销售额+盟主下属非直接舵主及其团队的销售额</p>
           <p>注2：盟主直接下属舵主及其团队销售额、盟主下属非直接舵主及其团队的销售额的分别计算逻辑同舵主权益。</p>
       </div>
        <div>
           <p>普通微店主晋级舵主的条件（缺一不可）</p>
           <p>合伙人人数≥50人</p>
           <p> 团队人数≥200人</p>
           <p> 团队月度活跃度≥10%</p>
           <p>舵主晋级盟主的条件（缺一不可）</p>
        </div>
        <div>
           <div>成为舵主</div>
           <p> 合伙人人数≥300人</p>
           <p>团队人数≥1000人</p>
          <p>团队月度活跃度≥10%</p>
        </div>

      <div>
        注：<p>①如团队存在微店主未实名认证的微店主，不影响舵主/盟主晋级。以上指标都是以完成认证的微店主为计算依据。</p>
            <p>②每月1号06:00至2号24:00，满足条件的小主可以在会员中心点击按钮申请成为舵主/盟主。不要错过时间哟~</p>
            <p>③成为舵主/盟主之后，可以享受更多权益。小主们可要努力保护这份来之不易的荣誉哦~！</p>
      </div>
     </div>
  </ion-content>

</ion-view>
