<!--二级管理-->
<ion-view view-title="合伙人详细信息" class="background" hide-nav-bar="true">

  <ion-content>
    <!--合伙人头部 合伙人详细信息-->
    <div style="position:relative;padding-top:24px;background-image:linear-gradient(-180deg, #ec4a4a 17%, #f77c63 100%);height:244px;">
      <!--head-->
      <div style="position:relative;height:24px;padding:0 12px;">
        <div ng-click="backToLastView()" style="position:absolute;left:12px;width:24px;"><img ng-src="{{imgBaseURL}}img/connectionBack@2x.png" style="width:9px;height:16px;"></div>
        <div style="width:140px;text-align:center;font-size: 17px;color:#ffffff;position: absolute;top:0;left:0;bottom:0;right:0;margin:auto;">合伙人详细信息</div>
        <!--<div><img src="img/connectionRelation@2x.png" style="width:20px;height:20px;display: none;"></div>-->
      </div>

      <!--合伙人详细信息 头像-->
      <div flex="main:left cross:center" style="margin-top:34px;">
        <div style="padding-left:28px;">
          <img ng-src="{{partnerMsg.contacts.avatarImageFileId}}" style="width:74px;height:74px;border-radius:37px;border:3px solid rgba(255,255,255,0.35);">
        </div>
        <div style="width:60%;margin-left:10px;">
          <div style="font-size:17px;color:#ffffff;letter-spacing:0px;text-align:left;">
           {{contactsStoreName}}的小店
          </div>
          <div style="margin-top:14px;font-size:12px;color:#ffffff;letter-spacing:0px;text-align:left;">
            注册时间：{{partnerMsg.contacts.registerTime}}
          </div>
        </div>
      </div>

      

      <!--APP 公众号-->
      <div flex="main:center cross:center" style="position:absolute;bottom:0;font-size: 16px;color:#ffffff;background:#f55b4a;width:100%;height:48px;">
        <div flex="main:center cross:center" style="width:50%;height:48px;">
          <img ng-src="{{imgBaseURL}}img/logo@2x.png" style="width:24px;height:24px;">
          <div style="margin-left:11px;font-size:14px;color:#ffffff;letter-spacing:0px;text-align:left;">
            APP 
            <span style="font-size:12px;color:#ffffff;letter-spacing:0px;text-align:center;">{{partnerMsg.contacts.downApp?'已下载':'未下载'}}</span>
          </div>
        </div>
        <div style="width:1px;height:31px;opacity:0.69;background: #ffffff;position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;"></div>
        <div flex="main:center cross:center" style="width:50%;height:48px;">
          <img ng-src="{{imgBaseURL}}img/wx@2x.png" style="width:24px;height:24px;">
          <div style="margin-left:11px;font-size:14px;color:#ffffff;letter-spacing:0px;text-align:left;">
            微信公众号 
            <span style="font-size:12px;color:#ffffff;letter-spacing:0px;text-align:center;">{{partnerMsg.contacts.focusWeiXin?'已关注':'未关注'}}</span>
          </div>
        </div>
      </div>
    </div>
    <div style="font-size:16px;background: #ffffff;color:#000000;">
      <div class="partnerDetail" flex="cross:center">
          <span>贡献佣金</span>:&nbsp;&nbsp;&nbsp;
          <span style="opacity:0.54;">{{partnerMsg.contacts.sumAmount}}</span>
      </div>
      <div class="partnerDetail" flex="cross:center">
          <span>店铺名称</span>:&nbsp;&nbsp;&nbsp;
          <span style="opacity:0.54;">{{partnerMsg.contacts.storeName}}</span>
      </div>
      <div class="partnerDetail" flex="cross:center">
          <div class="fixWidth" flex="main:justify"><span>店</span><span>主</span><span>ID</span></div>:&nbsp;&nbsp;&nbsp;
          <span style="opacity:0.54;">{{partnerMsg.contacts.memberId}}</span>
      </div>
      <div class="partnerDetail" flex="cross:center">
          <div class="fixWidth" flex="main:justify"><span>姓</span><span>名</span></div>:&nbsp;&nbsp;&nbsp;
          <span style="opacity:0.54;">{{partnerMsg.contacts.nickName}}</span>
      </div>
      <div class="partnerDetail" flex="cross:center">
          <span>联系方式</span>:&nbsp;&nbsp;&nbsp;
          <span style="opacity:0.54;">{{partnerMsg.contacts.mobile}}</span>
      </div>
      <div class="partnerDetail" flex="cross:center">
          <span>开店时间</span>:&nbsp;&nbsp;&nbsp;
          <span style="opacity:0.54;">{{partnerMsg.contacts.createTime}}</span>
      </div>
      <div class="partnerDetail" flex="cross:center">
          <div class="fixWidth" flex="main:justify"><span>首</span><span>单</span></div>:&nbsp;&nbsp;&nbsp;
          <span style="opacity:0.54;">{{partnerMsg.contacts.isComplete}}</span>
      </div>
      <div class="partnerDetail" flex="cross:center">
          <span>友圈排名</span>:&nbsp;&nbsp;&nbsp;
          <span style="opacity:0.54;">{{partnerMsg.contacts.relationshipRank}}</span>
      </div>
      <div class="partnerDetail" flex="cross:center">
          <div class="fixWidth" flex="main:justify"><span>等</span><span>级</span></div>:&nbsp;&nbsp;&nbsp;
          <span style="opacity:0.54;">{{partnerMsg.contacts.order}}</span>
      </div>
      <div class="partnerDetail" flex="cross:center">
          <div class="fixWidth" flex="main:justify"><span>总</span><span>排</span><span>名</span></div>:&nbsp;&nbsp;&nbsp;
          <span style="opacity:0.54;">{{partnerMsg.contacts.userRank}}</span>
      </div>
      <div class="partnerDetail" flex="cross:center">
          <div class="fixWidth" flex="main:justify"><span>所</span><span>在</span><span>地</span></div>:&nbsp;&nbsp;&nbsp;
          <span style="opacity:0.54;">{{partnerMsg.contacts.regionName}}</span>
      </div>
      <div class="partnerDetail" flex="cross:center">
          <span>最后登录时间</span>:&nbsp;&nbsp;&nbsp;
          <span style="opacity:0.54;">{{partnerMsg.contacts.lastLoginTime}}</span>
      </div>
    </div>
    
  </ion-content>
</ion-view>
