<!--二级管理-->
<ion-view view-title="我的合伙人" class="background">
  <!-- *********************分享标签－whiteBird start********************* -->
  <div style="z-index: 99;position: absolute;width: 100%;height: 100%;background: black;opacity: 0.3" ng-if="showShare"
       ng-click="hideblackCover()">
  </div>
  <div style="z-index: 100;position: absolute;width: 100%;bottom: 0px;left: 0px;background: white;" ng-if="showShare">
    <div style="text-align: center;width: 24%;display: inline-block" ng-click="shareToPlatform(1)" ng-if="hasWechat">
      <img style="padding: 15px;padding-bottom: 0px;width: 75%" ng-src="{{imgBaseURL}}img/btn_weixin.png"/>

      <div style=" font-size: 12px;padding-bottom: 5px">微信</div>
    </div>
    <div style="text-align: center;width: 24%;display: inline-block" ng-click="shareToPlatform(2)" ng-if="hasWechat">
      <img style="padding: 15px;padding-bottom: 0px;width: 75%" ng-src="{{imgBaseURL}}img/btn_friend.png"/>

      <div style=" font-size: 12px;padding-bottom: 5px">朋友圈</div>
    </div>
    <div style="text-align: center;width: 24%;display: inline-block" ng-click="shareToPlatform(3)" ng-if="hasQQ">
      <img style="padding: 15px;padding-bottom: 0px;width: 75%" ng-src="{{imgBaseURL}}img/btn_qq.png"/>

      <div style=" font-size: 12px;padding-bottom: 5px">QQ</div>
    </div>
    <div style="text-align: center;width: 24%;display: inline-block" ng-click="shareToPlatform(4)" ng-if="hasQQ">
      <img style="padding: 15px;padding-bottom: 0px;width: 75%" ng-src="{{imgBaseURL}}img/btn_zone.png"/>

      <div style=" font-size: 12px;padding-bottom: 5px">QQ空间</div>
    </div>
    <div style="text-align: center;width: 24%;display: inline-block" ng-click="shareToPlatform(0)">
      <img style="padding: 15px;padding-bottom: 0px;width: 75%" ng-src="{{imgBaseURL}}img/btn_weibo.png"/>

      <div style=" font-size: 12px;padding-bottom: 5px">微博</div>
    </div>
    <div style="text-align: center;width: 24%;display: inline-block" ng-click="shareToPlatform(5)">
      <img style="padding: 15px;padding-bottom: 0px;width: 75%" ng-src="{{imgBaseURL}}img/btn_link.png"/>

      <div style=" font-size: 12px;padding-bottom: 5px">复制链接</div>
    </div>
  </div>
  <!-- *********************分享标签－whiteBird end********************* -->
  <ion-content>
    <div class="width-100 sg-second-manage-header position-r text-align-c">
      <div class="color-text-white position-r">
        <img ng-click="share();" class="sg-second-share" ng-src="{{imgBaseURL}}img/ic_share.png" ng-if="isApp">

        <div>我的推广码</div>
        <div ng-bind="mid" class="padding-10 font-size-24"></div>
      </div>
    </div>
    <div class="padding-5 sg-second-manage-bg padding-left-10 border-bottom">
      <!--分享到微信、QQ等自媒体，邀请好友一起开店，成为你的合伙人。-->
    </div>
    <div class="row sr-header" style="width: 100%;">
      <div class="col text-align-c" ng-class="{'true':'selected','false':'unselected'}[rank==2]" ng-click="getSecAndThi(2);">我的合伙人：<span ng-bind="secondMemberDate.subNum"></span></div>
      <div class="col text-align-c" ng-class="{'true':'selected','false':'unselected'}[rank==3]" ng-click="getSecAndThi(3)">我的人脉：<span ng-bind="secondMemberDate.grandNum"></span></div>
    </div>
    <div class="padding-10 bg-white margin-bottom-10 border-bottom">
      <div class="item item-input padding-0 border-none">
        <label class="border width-70 item-input-wrapper">
          <i class="icon ion-ios-search-strong"></i>
          <input ng-model="search.keyWords" type="text" class="background width-80" placeholder="请输入ID或店铺名称">
        </label>
        <button ng-click="searchSecondMember();" class="color-text-l button button-clear padding-left-0 margin-left-5">
          搜索
        </button>
      </div>
    </div>
    <div class="bg-white width-100 padding-10 margin-top-10" ng-if="!isHaveDate&&rank==2">暂无合伙人</div>
    <div class="bg-white width-100 padding-10 margin-top-10" ng-if="!isHaveDate&&rank==3">暂无人脉</div>
    <ion-list>
      <div ng-repeat="item in secondMemberList" class="row border-top-none margin-0 item font-size-12">
        <div class="col col-15">
          <img class="border margin-top-5" style="width: 40px;height: 40px;border-radius: 25px"
               ng-if="item.avatarImageFileId" ng-src="{{item.avatarImageFileId}}" err-src=""/>
          <img class="border margin-top-5" style="width: 40px;height: 40px;border-radius: 25px"
               ng-if="!item.avatarImageFileId" ng-src="www.baixxxxWhiteBird.123.png" err-src="">
        </div>
        <div class="color-text-m col padding-left-5 padding-right-0 col-50">
          <div>店铺名称：<span ng-bind="item.storeName  | cut:true:6:'...'" class="color-text-l"></span></div>
          <div>联系方式：<span ng-bind="item.mobile" class="color-text-l"></span></div>
          <div>开店时间：
            <span ng-bind="item.createTime | cut:true:10:'...'" class="color-text-l"></span>
          </div>
        </div>
        <div class="col padding-left-right-0 col-35">
          <div class="color-text-m">店主ID：<span ng-bind="item.ownerId" class="color-text-l"></span></div>
          <div class="color-text-m">姓名：<span ng-bind="item.name" class="color-text-l"></span></div>
          <div class="color-text-m">首单：<span ng-bind="item.isComplete" class="color-text-l"></span></div>
        </div>
      </div>
    </ion-list>
    <ion-infinite-scroll immediate-check="false" distance="5%" ng-if="hasMoreData"
                         on-infinite="loadMore()"></ion-infinite-scroll>
  </ion-content>
</ion-view>
