<ion-view view-title="" hide-nav-bar="true">
  <ion-header-bar style="background-color: #F8F8F8;">
    <div style="position: absolute;left: 0;margin: 5px 16px;" ng-click="goBack()">
      <img ng-src="{{imgBaseURL}}img/addressBack@2x.png" style="width:24px;height: 24px;">
    </div>
    <!--<div style="position:absolute;top:0;z-index:9;right:90px;left:90px;display: inline-block;height: 43px;min-width: 30px;text-align: center;line-height: 44px;text-overflow: ellipsis;white-space: nowrap;font-size: 17px;">理财</div>-->
    <!--<div style="position: absolute;right: 0;">-->
      <!--<div style="font-size: 16px;color: #666;margin: 5px 15px">天天聚</div>-->
    <!--</div>-->
  </ion-header-bar>
  <ion-content id="VRContent">
    <iframe ng-src="{{iframeUrl}}" frameborder="0" style="width: 100%;height: 100%;"></iframe>
  </ion-content>
</ion-view>
<!--<script type="application/javascript">-->
  <!--function say(){-->
    <!--angular.element(document.getElementById('VRContent')).scope().say();-->
  <!--}-->
<!--</script>-->
