<ion-view class="background"  view-title="顺逛众筹" >
  <ion-content scrollbar-y="true"> 
  	 
     <p class="p-project border-bottom">我关注的项目</p>
     <div class="zhongchou-shops">
     	<div class="shops-info border-bottom">
     		<div class="proLeft">
     			<img ng-src="{{imgBaseURL}}img/logo.jpg" alt="" class="imageLogo"/>
     		</div>
     		<div class="proRight">
     			<p class="proP1">迪士尼美国队长版儿童自行车儿童自行车儿童自行车</p>
     			<div class="baiFenBi">
     				<p class="baiP1"><span class="baiSp"></span></p>
     				<p class="baiP2">80%</p>
     			</div>
     			<div class="chouZhi">
     			<p class="proP2">已筹资:<span class="proSpan1">¥682459</span></p>
     			<p class="proP2">已有<span class="proSpan2">600</span>人支持</p>
     			</div>
     			<p class="proP2">剩余：<span class="proSpan3">4天</span></p>
     		</div>
     	</div>
     	
     	<div class="zhongchou-attention">
     		<p class="attention-left" style="border:1px solid red;">众筹中</p>
     		<button class="attention-right">取消关注</button>
     	</div>
     </div>
     
     
      <p class="p-project border-bottom">我关注的项目</p>
     <div class="zhongchou-shops">
     	<div class="shops-info border-bottom">
     		<div class="proLeft">
     			<img ng-src="{{imgBaseURL}}img/logo.jpg" alt="" class="imageLogo"/>
     		</div>
     		<div class="proRight">
     			<p class="proP1">迪士尼美国队长版儿童自行车儿童自行车儿童自行车</p>
     			<div class="baiFenBi">
     				<p class="baiP1"><span class="baiSp"></span></p>
     				<p class="baiP2">80%</p>
     			</div>
     			<div class="chouZhi">
     			<p class="proP2">已筹资:<span class="proSpan1">¥682459</span></p>
     			<p class="proP2">已有<span class="proSpan2">600</span>人支持</p>
     			</div>
     			<p class="proP2">剩余：<span class="proSpan3">4天</span></p>
     		</div>
     	</div>
     	
     	<div class="zhongchou-attention">
     		<p class="attention-left" style="border:1px solid red;">众筹中</p>
     		<button class="attention-right">取消关注</button>
     	</div>
     </div>
     
     
      <p class="p-project border-bottom">我关注的项目</p>
     <div class="zhongchou-shops">
     	<div class="shops-info border-bottom">
     		<div class="proLeft">
     			<img ng-src="{{imgBaseURL}}img/logo.jpg" alt="" class="imageLogo"/>
     		</div>
     		<div class="proRight">
     			<p class="proP1">迪士尼美国队长版儿童自行车儿童自行车儿童自行车</p>
     			<div class="baiFenBi">
     				<p class="baiP1"><span class="baiSp"></span></p>
     				<p class="baiP2">80%</p>
     			</div>
     			<div class="chouZhi">
     			<p class="proP2">已筹资:<span class="proSpan1">¥682459</span></p>
     			<p class="proP2">已有<span class="proSpan2">600</span>人支持</p>
     			</div>
     			<p class="proP2">剩余：<span class="proSpan3">4天</span></p>
     		</div>
     	</div>
     	
     	<div class="zhongchou-attention">
     		<p class="attention-left" style="border:1px solid red;">众筹中</p>
     		<button class="attention-right">取消关注</button>
     	</div>
     </div>
  </ion-content>
  
</ion-view>