<ion-view class="background" view-title="支持者协议">
<ion-content scrollbar-y="false">
	<div class="padding-10">
	<p>本协议由众筹项目发起人、支持者与顺逛众筹平台的运营管理者及其关联公司共同签署。</p>
<p>发起人和支持者应在签署本协议前认真阅读协议全部内容，尤其是以加粗标示的有关风险提示、特别提示、管辖法院等条款。发起人、支持者同意本协议或使用本协议项下服务的，表示发起人和支持者已阅读并理解本协议所有内容，同意受本协议约束。</p>
<p>第一条 定义和解释</p>
<p>除非本协议正文另有明确所指，在本协议中所用下列术语定义如下：</p>
<p>1. 众筹：指发起人与支持者共同完成项目、实现梦想的行为。在这一过程中支持者出资支持发起人，发起人完成项目并按承诺向支持者发放回报。</p>
2. 顺逛众筹平台：指由顺逛现在或将来拥有合格权限运营/管理的，提供平台网络空间等技术服务的网络服务平台，包括但不限于域名为m.ehaier.com的众筹信息服务平台、顺逛关联方运营/管理的网络服务平台，及未来可能新设或合作的网络平台等。<br />
3. 顺逛：指顺逛众筹平台的运营管理者及其关联公司。<br />
4. 发起人：指在顺逛众筹平台上发起众筹项目的自然人、法人或其他组织。<br />
5. 支持者：指出资支持众筹项目，与发起人一起实现梦想的自然人、法人或其他组织。<br />
6. 众筹期限：指发起人确定的众筹项目的募集时间。<br />
7. 募集总金额：指众筹期限届满时所募集的资金总额。<br />
8. 众筹募集成功：指项目众筹期限届满且达到预定募集金额。<br />
9. 众筹失败：指众筹出现下列情形之一：<br />
9.1 众筹募集失败，即众筹期限届满但未达到预定募集金额；<br />
9.2 发起人由于能力限制、市场风险、法律风险等各种因素，在众筹期限届满前取消项目；<br />
9.3 发起人由于能力限制、市场风险、法律风险等各种因素，在众筹募集成功后明确表示无法发放回报。<br />
10. 项目成功结束：指发起人向支持者发放所有回报完毕。<br />
第二条 协议主体和协议范围<br />
1. 本协议由发起人、支持者与顺逛共同签署（签约地：青岛市崂山区）。发起人在顺逛众筹平台发起众筹项目、支持者支持众筹项目后，本协议即构成对三方具有约束力的法律文件。三方同意接受本协议、各类公告、规则、操作流程及项目页面承诺等的法律约束。<br />
2. 发起人在发起众筹项目之前，应仔细阅读相关协议、公告、各类规则、操作流程的内容；支持者在支持众筹项目之前，应仔细阅读相关协议、公告、各类规则、操作流程、项目页面的承诺。发起人和支持者如不同意前述内容，有权选择不使用平台服务。发起人和支持者一旦选择使用平台服务，即视为该发起人和支持者已确知并完全同意相关协议、公告、规则、操作流程和项目页面的承诺。<br />
3. 顺逛作为平台方，仅为发起人与支持者之间的众筹提供平台网络空间、技术服务和支持等服务，并不是发起人或支持者中的任何一方。众筹仅存在于发起人和支持者之间，使用顺逛众筹平台产生的法律后果由发起人与支持者自行承担。<br />
第三条 发起人和支持者的权利义务<br />
1. 发起人在顺逛众筹平台发起众筹项目，在项目页面注明众筹期限、预定募集金额和项目档位回报等信息，并根据项目具体情况确定是否设置预热期；支持者点击“支持”按钮进行支持。众筹募集成功后，发起人按约定在承诺时间内向支持者发放回报、按承诺开具发票并承担后续服务；属于公益类项目的，发起人应按承诺将款项用于公益用途。<br />
2. 发起众筹后，发起人应严格按照项目计划执行，并在项目计划执行过程中积极与支持者互动。发起人应指定专人维护其发起项目页面，并实时更新项目进展，以便顺逛用户知悉。<br />
3. 支持者获得的众筹项目各档位回报如下：<br />
3.1 选择纯抽奖档位的，除被抽中获得奖品外，众筹募集成功后发起人将不会发放回报；由于发起人能力和经验不足、市场风险、法律风险等各种因素，众筹募集成功后可能出现发起人无法发放回报产品而导致项目众筹失败的情况，发生该种情形时，系统将会按照支持者实际已支付的金额将款项原路退换到支持者账户。<br />
3.2 选择纯抽奖档位以外档位的，众筹募集成功后发起人将按照项目页面承诺发放回报；<br />
3.3 支持纯抽奖档位众筹项目档位的，一旦支付成功将不予退款，众筹失败的除外，退款金额以支持者实际支付的金额为准。<br />
4. 发起人应当按照《顺逛众筹回报服务规则》和项目页面承诺，为支持者提供回报。因项目回报的漏发、退换等情形与支持者产生任何纠纷的，发起人应与支持者进行友好协商，尽其最大可能处理纠纷。公益众筹项目除外。<br />
5. 众筹失败的情况下，发起人应及时通过顺逛众筹平台及其他途径告知支持者，并与支持者进行友好协商，尽其最大可能处理纠纷。其中，众筹期限届满前众筹失败的，所有已筹集到的款项将原路退回给支持者。<br />
6. 众筹回报的具体内容根据发起人在项目页面的承诺而定。发起人与支持者另行协商，对众筹回报内容进行修改的，该修改后的回报不被视为众筹的组成部分。<br />
7.鉴于众筹业务的特点，顺逛需要获取支持者的个人信息（包括但不限于自然人的姓名、收货地址、电话号码等信息），用于发起人完成回报发放或处理客诉、退款等众筹目的使用。<br />
8.保护用户隐私是顺逛的一项基本政策，顺逛保证不对外公开或向第三方提供支持者的个人信息及支持者在使用网络服务时存储在顺逛的非公开内容，但下列情况除外：<br />
8.1.1事先获得支持者的授权；<br />
8.1.2根据有关的法律法规的要求；<br />
8.1.3按照相关政府主管部门、司法机关的要求；<br />
8.1.4为维护顺逛的合法权益。<br />
第四条 违约责任<br />
除本协议另有约定外，任何一方违反其于本协议项下的陈述、保证或承诺，而使其他各方遭受任何诉讼、纠纷、索赔、处罚等的，违约方应与其他各方进行充分友好协商并依法承担违约责任。如某一方发生违约行为，守约方可以书面通知方式要求违约方在指定的时限内停止违约行为，要求其消除影响。如违约方未能按时停止违约行为，则守约方有权立即终止本协议。<br />
第五条 风险提示<br />
1. 政策法律风险：有关众筹的相关国家法律法规及政策变化，发起人可能根据该变化依法调整众筹的内容，届时支持者须与发起人友好协商解决，发起人应尽最大可能处理纠纷。<br />
2. 市场和运营风险：由于项目运营问题、市场行情变化等情形，支持者可能无法得到项目承诺回报或回报与承诺不一致，届时支持者须与发起人友好协商解决，发起人应尽最大可能处理纠纷。<br />
3. 技术风险：众筹涉及到互联网服务，可能会受到各个环节不稳定因素的影响。因不可抗力、计算机病毒或黑客攻击、系统不稳定以及其他任何技术、互联网络、通信线路原因等造成的系统故障、服务中断或不能满足服务要求的风险，及由此发生经济损失的，发起人和支持者须自行承担。<br />
第六条 特别提示<br />
发起人和支持者均已理解并同意：顺逛仅为发起人与支持者之间的众筹提供平台网络空间、技术服务和支持等服务。顺逛作为平台方，并不是发起人或支持者中的任何一方，众筹仅存在于发起人和支持者之间，使用顺逛众筹平台产生的法律后果由发起人与支持者自行承担。顺逛不对项目及项目回报质量作任何形式的担保，对于因项目及项目回报发生的一切纠纷（包括但不限于回报质量问题，回报后续服务），由发起人和支持者自行解决。<br />
第七条 其他规则<br />
1. 本协议项下众筹活动所产生的税费负担，由中国相关法律法规所规定的责任方自行承担并依法申报和缴纳。<br />
2. 如果本协议的部分条款被争议解决机构认定为违法，则并不影响其他条款的有效性。<br />
3. 因本协议引起的或与本协议有关的争议，均适用中华人民共和国法律。<br />
4. 因本协议引起的或与本协议有关的争议，各方应协商解决。协商不成的，任何一方均有权向顺逛住所地有管辖权的人民法院提起诉讼。<br />
</div>
</ion-content>
</ion-view>