<ion-view view-title="确认收货" hide-back-button="true">
  <ion-nav-buttons>
   <div style="font-size: 30px;width: 25px;" ng-click="goOrderManage();">
     <i class="icon ion-ios-arrow-left"></i>
   </div>
  </ion-nav-buttons>
  <ion-content class="background">
    <!--商品个数展示-->
    <div style="padding: 5px 0 5px 5px;background-color: #FAFAFA;margin: 5px 0;">
      <span
        style="display: inline-block;background-color: #80DAFF;width: 5px;height: 20px;vertical-align: middle;"></span>
      <span style="position: relative;">共<span ng-bind="confirmCount"></span>件商品</span>
    </div>
    <!--网单列表展示-->
    <div ng-repeat="item in confirmReceivelist" style="margin-bottom: 5px;">
      <div class="row row-no-padding border-bottom" style="background-color: #FFFFFF;">
        <div class="col col-25">
          <img ng-src="{{item.defaultImageUrl}}" err-src="" style="width: 80px;height:80px;padding: 10px;"/>
        </div>
        <div class="col col-75" style="padding: 10px 0;">
          <div ng-bind="item.productFullName"></div>
          <div ng-bind="item.productName"></div>
          <div>
            <span style="color: #0176fe" ng-bind="item.amount|currency:'&yen'"></span> <span
            ng-bind="item.number">件</span>
          </div>
        </div>
      </div>
      <div style="background-color: #FFFFFF;padding: 10px 0;position: relative;"
           ng-if="item.canConfirm&&item.canClickConfirm">
        <span style="font-size: 12px;color: #999999;padding-left: 10px;">您的家电正飞奔至您的家中！</span>
        <span style="position: absolute;color: #0076FC;font-size: 12px;top: 10px;right: 75px;">待收货</span>
        <span
          style="position: absolute;display:block;background-color: #0076FC;color: #FFFFFF;top: 8px;right: 5px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;font-size: 12px;padding: 2px 5px;" ng-click="confirmReceive(item.cOrderSn)">确认收货</span>
      </div>

      <div style="background-color: #FFFFFF;padding: 10px 0;position: relative;"
           ng-if="item.canConfirm&&!item.canClickConfirm">
        <span style="font-size: 12px;color: #999999;padding-left: 10px;">正在签收订单中···</span>
        <span style="position: absolute;color: #0076FC;font-size: 12px;top: 10px;right: 75px;">待收货</span>
        <span
          style="position: absolute;display:block;background-color: #CCCCCC;color: #FFFFFF;top: 8px;right: 5px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;font-size: 12px;padding: 2px 5px;">确认收货</span>
      </div>

      <div style="background-color: #FFFFFF;padding: 10px 0;position: relative;"
           ng-if="item.canAssess&&!item.canConfirm">
        <span style="font-size: 12px;color: #999999;padding-left: 10px;">您的家电已配送安装完成</span>
        <span style="position: absolute;color: #0076FC;font-size: 12px;top: 10px;right: 75px;">已签收</span>
        <span
          style="position: absolute;display:block;background-color: #0076FC;color: #FFFFFF;top: 8px;right: 10px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;font-size: 12px;padding: 2px 5px;" ui-sref="assess({orderId:orderId,cOrderSn:item.cOrderSn})">去评价</span>
      </div>
      <div style="background-color: #FFFFFF;padding: 10px 0;position: relative;"
           ng-if="item.assessed&&!item.canConfirm">
        <span style="font-size: 12px;color: #999999;padding-left: 10px;"></span>
        <span style="position: absolute;color: #0076FC;font-size: 12px;top: 10px;right: 75px;">已评价</span>
        <span
          style="position: absolute;display:block;background-color: #0076FC;color: #FFFFFF;top: 8px;right: 10px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;font-size: 12px;padding: 2px 5px;" ui-sref="lookAssess({orderId:orderId,cOrderSn:item.cOrderSn})">查看评价</span>
      </div>

      <div style="background-color: #FFFFFF;padding: 10px 0;position: relative;"
           ng-if="item.canConfirm&&item.confirmException">
        <span style="font-size: 12px;color: #999999;padding-left: 10px;">很抱歉，签收失败请重新签收</span>
        <span style="position: absolute;color: #0076FC;font-size: 12px;top: 10px;right: 75px;">待收货</span>
        <span
          style="position: absolute;display:block;background-color: #0076FC;color: #FFFFFF;top: 8px;right: 5px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;font-size: 12px;padding: 2px 5px;" ng-click="confirmReceive(item.cOrderSn)">确认收货</span>
      </div>
    </div>
  </ion-content>
</ion-view>
